Repository rshade/pulumicost-spec: changes, and which lefthook commands are due for each by the changed paths.
All: golangci-lint, markdown-lint, yaml-lint

golangci-lint:
  run: PATH=~/go/bin:$PATH golangci-lint run --new-from-rev=HEAD~1
  skip:
  - merge
  - rebase

markdown-lint:
  run: npm run lint:markdown
  skip:
  - merge
  - rebase

yaml-lint:
  run: yamllint .github/
  skip:
  - merge
  - rebase

add Go Benchmark (go) benchmark result for afdf8f78afb2cac5dfdad95359acb2871c727be7
  dev/bench/data.js
Due: none

add Go Benchmark (go) benchmark result for 3cd8ee538e11bd87c1e1b62a8d4b76378c1c8a1e
  dev/bench/data.js
Due: none

add Go Benchmark (go) benchmark result for 71a32df15c5db3911c0c2ec16856869eaecc87d1
  dev/bench/data.js
Due: none

feat(proto): add getrecommendations rpc for finops optimization
  .github/workflows/claude-code-review.yml
  .specify/memory/constitution.md
  CLAUDE.md
  examples/recommendations/aws_rightsizing.json
  examples/recommendations/azure_advisor.json
  examples/recommendations/commitment_purchase.json
  examples/recommendations/gcp_recommender.json
  examples/recommendations/kubernetes_request_sizing.json
  examples/recommendations/multi_provider_portfolio.json
  proto/pulumicost/v1/costsource.proto
  sdk/go/pluginsdk/helpers.go
  sdk/go/pluginsdk/helpers_test.go
  sdk/go/pluginsdk/logging.go
  sdk/go/pluginsdk/metrics.go
  sdk/go/pluginsdk/sdk.go
  sdk/go/proto/pulumicost/v1/costsource.pb.go
  sdk/go/proto/pulumicost/v1/costsource_grpc.pb.go
  sdk/go/testing/README.md
  sdk/go/testing/benchmark_test.go
  sdk/go/testing/conformance_test.go
  sdk/go/testing/integration_test.go
  sdk/go/testing/mock_plugin.go
  specs/013-recommendations-rpc/checklists/requirements.md
  specs/013-recommendations-rpc/contracts/recommendations.proto
  specs/013-recommendations-rpc/data-model.md
  specs/013-recommendations-rpc/plan.md
  specs/013-recommendations-rpc/quickstart.md
  specs/013-recommendations-rpc/research.md
  specs/013-recommendations-rpc/spec.md
  specs/013-recommendations-rpc/tasks.md
Due: golangci-lint, markdown-lint, yaml-lint

feat(pluginsdk): add FallbackHint enum for plugin orchestration
  GEMINI.md
  sdk/go/pluginsdk/helpers.go
  sdk/go/pluginsdk/helpers_test.go
  sdk/go/proto/pulumicost/v1/costsource.pb.go
  specs/014-fallback-hint/checklists/requirements.md
  specs/014-fallback-hint/contracts/costsource.proto
  specs/014-fallback-hint/data-model.md
  specs/014-fallback-hint/plan.md
  specs/014-fallback-hint/quickstart.md
  specs/014-fallback-hint/research.md
  specs/014-fallback-hint/spec.md
  specs/014-fallback-hint/tasks.md
Due: golangci-lint, markdown-lint

feat(pluginsdk): centralize environment variable handling
  CLAUDE.md
  sdk/go/CLAUDE.md
  sdk/go/pluginsdk/README.md
  sdk/go/pluginsdk/env.go
  sdk/go/pluginsdk/env_test.go
  sdk/go/pluginsdk/sdk.go
  specs/013-pluginsdk-env/checklists/requirements.md
  specs/013-pluginsdk-env/data-model.md
  specs/013-pluginsdk-env/plan.md
  specs/013-pluginsdk-env/quickstart.md
  specs/013-pluginsdk-env/research.md
  specs/013-pluginsdk-env/spec.md
  specs/013-pluginsdk-env/tasks.md
Due: golangci-lint, markdown-lint

feat(pluginsdk): centralize environment variable handling (#139)
  CLAUDE.md
  sdk/go/CLAUDE.md
  sdk/go/pluginsdk/README.md
  sdk/go/pluginsdk/env.go
  sdk/go/pluginsdk/env_test.go
  sdk/go/pluginsdk/sdk.go
  specs/013-pluginsdk-env/checklists/requirements.md
  specs/013-pluginsdk-env/data-model.md
  specs/013-pluginsdk-env/plan.md
  specs/013-pluginsdk-env/quickstart.md
  specs/013-pluginsdk-env/research.md
  specs/013-pluginsdk-env/spec.md
  specs/013-pluginsdk-env/tasks.md
Due: golangci-lint, markdown-lint

add Go Benchmark (go) benchmark result for 4c9e279ad38c58ee28178f61041c387c512654ca
  dev/bench/data.js
Due: none

add Go Benchmark (go) benchmark result for 5c62fc507c120a93c740076e89fefa44555faca2
  dev/bench/data.js
Due: none

feat(proto): add getrecommendations rpc for finops optimization
  .github/workflows/claude-code-review.yml
  .gitignore
  .markdownlint-cli2.jsonc
  .markdownlint.json
  .markdownlintignore
  .specify/memory/constitution.md
  CLAUDE.md
  examples/recommendations/aws_rightsizing.json
  examples/recommendations/azure_advisor.json
  examples/recommendations/commitment_purchase.json
  examples/recommendations/gcp_recommender.json
  examples/recommendations/kubernetes_request_sizing.json
  examples/recommendations/multi_provider_portfolio.json
  go.sum
  package-lock.json
  proto/pulumicost/v1/costsource.proto
  sdk/go/pluginsdk/helpers.go
  sdk/go/pluginsdk/helpers_test.go
  sdk/go/pluginsdk/logging.go
  sdk/go/pluginsdk/metrics.go
  sdk/go/pluginsdk/sdk.go
  sdk/go/proto/pulumicost/v1/costsource.pb.go
  sdk/go/proto/pulumicost/v1/costsource_grpc.pb.go
  sdk/go/testing/README.md
  sdk/go/testing/benchmark_test.go
  sdk/go/testing/conformance_test.go
  sdk/go/testing/integration_test.go
  sdk/go/testing/mock_plugin.go
  sdk/go/testing/mock_plugin_test.go
  specs/013-recommendations-rpc/checklists/requirements.md
  specs/013-recommendations-rpc/contracts/recommendations.proto
  specs/013-recommendations-rpc/data-model.md
  specs/013-recommendations-rpc/plan.md
  specs/013-recommendations-rpc/quickstart.md
  specs/013-recommendations-rpc/research.md
  specs/013-recommendations-rpc/spec.md
  specs/013-recommendations-rpc/tasks.md
  validate_examples.js
Due: golangci-lint, markdown-lint, yaml-lint

chore(deps): regenerate package-lock.json with Node 24.11.1
  .github/workflows/ci.yml
  .nvmrc
  README.md
  package-lock.json
Due: markdown-lint, yaml-lint

add Go Benchmark (go) benchmark result for ecf92f0af6c1dbd1d036e92a1e999a7576debaef
  dev/bench/data.js
Due: none

feat(pluginsdk): add fallback hint enum for plugin orchestration
  GEMINI.md
  sdk/go/pluginsdk/helpers.go
  sdk/go/pluginsdk/helpers_test.go
  sdk/go/proto/pulumicost/v1/costsource.pb.go
  specs/014-fallback-hint/checklists/requirements.md
  specs/014-fallback-hint/contracts/costsource.proto
  specs/014-fallback-hint/data-model.md
  specs/014-fallback-hint/plan.md
  specs/014-fallback-hint/quickstart.md
  specs/014-fallback-hint/research.md
  specs/014-fallback-hint/spec.md
  specs/014-fallback-hint/tasks.md
Due: golangci-lint, markdown-lint

feat(pluginsdk): add fallback hint enum for plugin orchestration (#126)
  GEMINI.md
  sdk/go/pluginsdk/helpers.go
  sdk/go/pluginsdk/helpers_test.go
  sdk/go/proto/pulumicost/v1/costsource.pb.go
  specs/014-fallback-hint/checklists/requirements.md
  specs/014-fallback-hint/contracts/costsource.proto
  specs/014-fallback-hint/data-model.md
  specs/014-fallback-hint/plan.md
  specs/014-fallback-hint/quickstart.md
  specs/014-fallback-hint/research.md
  specs/014-fallback-hint/spec.md
  specs/014-fallback-hint/tasks.md
Due: golangci-lint, markdown-lint

add Go Benchmark (go) benchmark result for ef7aab0576e3b4815c4d273c33800557734ebb37
  dev/bench/data.js
Due: none

feat(pluginsdk): add --port flag parsing for multi-plugin orchestration
  sdk/go/pluginsdk/sdk.go
  sdk/go/pluginsdk/sdk_test.go
Due: golangci-lint

feat(pluginsdk): add --port flag parsing for multi-plugin orchestration (#143)
  sdk/go/pluginsdk/sdk.go
  sdk/go/pluginsdk/sdk_test.go
Due: golangci-lint

add Go Benchmark (go) benchmark result for c0b05288e69dc70ad0105165572a5fa3714ed27f
  dev/bench/data.js
Due: none

docs: adding in claude speckit
  .claude/commands/speckit.analyze.md
  .claude/commands/speckit.clarify.md
  .claude/commands/speckit.constitution.md
  .claude/commands/speckit.implement.md
  .claude/commands/speckit.plan.md
  .claude/commands/speckit.specify.md
  .claude/commands/speckit.tasks.md
  .claude/commands/speckit.taskstoissues.md
  .coderabbit.yaml
Due: markdown-lint, yaml-lint

docs: adding in claude speckit (#144)
  .claude/commands/speckit.analyze.md
  .claude/commands/speckit.clarify.md
  .claude/commands/speckit.constitution.md
  .claude/commands/speckit.implement.md
  .claude/commands/speckit.plan.md
  .claude/commands/speckit.specify.md
  .claude/commands/speckit.tasks.md
  .claude/commands/speckit.taskstoissues.md
  .coderabbit.yaml
Due: markdown-lint, yaml-lint

add Go Benchmark (go) benchmark result for 70a6e78fffba6ac81c518a4225a4da56a34aafdf
  dev/bench/data.js
Due: none

fix: adding in edge case tests, and benchmark
  sdk/go/CLAUDE.md
  sdk/go/pluginsdk/helpers.go
  sdk/go/pluginsdk/helpers_test.go
  sdk/go/testing/benchmark_test.go
  sdk/go/testing/mock_plugin.go
Due: golangci-lint, markdown-lint

fix: adding in edge case tests, and benchmark (#142)
  sdk/go/CLAUDE.md
  sdk/go/pluginsdk/helpers.go
  sdk/go/pluginsdk/helpers_test.go
  sdk/go/testing/benchmark_test.go
  sdk/go/testing/mock_plugin.go
Due: golangci-lint, markdown-lint

add Go Benchmark (go) benchmark result for 881132bd87d1bb69ecd9f3abff01527da16fc08f
  dev/bench/data.js
Due: none

add Go Benchmark (go) benchmark result for bc7b3a5fc93b22ba2b1f2080ea8f4ccf8b4861f4
  dev/bench/data.js
Due: none

feat(sdk): Support PULUMICOST_LOG_FILE for unified logging
  CLAUDE.md
  go.sum
  sdk/go/pluginsdk/README.md
  sdk/go/pluginsdk/logging.go
  sdk/go/pluginsdk/logging_test.go
  specs/015-log-file/checklists/requirements.md
  specs/015-log-file/data-model.md
  specs/015-log-file/plan.md
  specs/015-log-file/quickstart.md
  specs/015-log-file/research.md
  specs/015-log-file/spec.md
  specs/015-log-file/tasks.md
Due: golangci-lint, markdown-lint

feat(sdk): Support PULUMICOST_LOG_FILE for unified logging (#145)
  CLAUDE.md
  go.sum
  sdk/go/pluginsdk/README.md
  sdk/go/pluginsdk/logging.go
  sdk/go/pluginsdk/logging_test.go
  specs/015-log-file/checklists/requirements.md
  specs/015-log-file/data-model.md
  specs/015-log-file/plan.md
  specs/015-log-file/quickstart.md
  specs/015-log-file/research.md
  specs/015-log-file/spec.md
  specs/015-log-file/tasks.md
Due: golangci-lint, markdown-lint

add Go Benchmark (go) benchmark result for 6b9a9b38e24f9b49a05095c140bd2500c4e8090b
  dev/bench/data.js
Due: none

docs: Document pluginsdk.Serve() behavior and configuration
  .markdownlint-cli2.jsonc
  .markdownlintignore
  CLAUDE.md
  sdk/go/CLAUDE.md
  sdk/go/pluginsdk/README.md
  sdk/go/pluginsdk/env.go
  specs/001-pluginsdk-serve-docs/checklists/requirements.md
  specs/001-pluginsdk-serve-docs/plan.md
  specs/001-pluginsdk-serve-docs/quickstart.md
  specs/001-pluginsdk-serve-docs/research.md
  specs/001-pluginsdk-serve-docs/spec.md
  specs/001-pluginsdk-serve-docs/tasks.md
  specs/014-fallback-hint/tasks.md
Due: golangci-lint, markdown-lint

docs: Document pluginsdk.Serve() behavior and configuration (#146)
  .markdownlint-cli2.jsonc
  .markdownlintignore
  CLAUDE.md
  sdk/go/CLAUDE.md
  sdk/go/pluginsdk/README.md
  sdk/go/pluginsdk/env.go
  specs/001-pluginsdk-serve-docs/checklists/requirements.md
  specs/001-pluginsdk-serve-docs/plan.md
  specs/001-pluginsdk-serve-docs/quickstart.md
  specs/001-pluginsdk-serve-docs/research.md
  specs/001-pluginsdk-serve-docs/spec.md
  specs/001-pluginsdk-serve-docs/tasks.md
  specs/014-fallback-hint/tasks.md
Due: golangci-lint, markdown-lint

add Go Benchmark (go) benchmark result for 30687f9ca34a1c262a0ac6b8f66f98301dce1987
  dev/bench/data.js
Due: none

feat(pluginsdk): add mapping package for property extraction
  CLAUDE.md
  sdk/go/CLAUDE.md
  sdk/go/pluginsdk/README.md
  sdk/go/pluginsdk/mapping/aws.go
  sdk/go/pluginsdk/mapping/azure.go
  sdk/go/pluginsdk/mapping/benchmark_test.go
  sdk/go/pluginsdk/mapping/common.go
  sdk/go/pluginsdk/mapping/doc.go
  sdk/go/pluginsdk/mapping/gcp.go
  sdk/go/pluginsdk/mapping/keys.go
  sdk/go/pluginsdk/mapping/mapping_test.go
  specs/016-pluginsdk-mapping/checklists/requirements.md
  specs/016-pluginsdk-mapping/contracts/api.go
  specs/016-pluginsdk-mapping/data-model.md
  specs/016-pluginsdk-mapping/plan.md
  specs/016-pluginsdk-mapping/quickstart.md
  specs/016-pluginsdk-mapping/research.md
  specs/016-pluginsdk-mapping/spec.md
  specs/016-pluginsdk-mapping/tasks.md
Due: golangci-lint, markdown-lint

feat(pluginsdk): add mapping package for property extraction (#148)
  CLAUDE.md
  sdk/go/CLAUDE.md
  sdk/go/pluginsdk/README.md
  sdk/go/pluginsdk/mapping/aws.go
  sdk/go/pluginsdk/mapping/azure.go
  sdk/go/pluginsdk/mapping/benchmark_test.go
  sdk/go/pluginsdk/mapping/common.go
  sdk/go/pluginsdk/mapping/doc.go
  sdk/go/pluginsdk/mapping/gcp.go
  sdk/go/pluginsdk/mapping/keys.go
  sdk/go/pluginsdk/mapping/mapping_test.go
  specs/016-pluginsdk-mapping/checklists/requirements.md
  specs/016-pluginsdk-mapping/contracts/api.go
  specs/016-pluginsdk-mapping/data-model.md
  specs/016-pluginsdk-mapping/plan.md
  specs/016-pluginsdk-mapping/quickstart.md
  specs/016-pluginsdk-mapping/research.md
  specs/016-pluginsdk-mapping/spec.md
  specs/016-pluginsdk-mapping/tasks.md
Due: golangci-lint, markdown-lint

add Go Benchmark (go) benchmark result for 8fd1524877218272a7d219239058bfee43c294bc
  dev/bench/data.js
Due: none

feat(proto): add getbudgets rpc for unified budget visibility
  AGENTS.md
  CHANGELOG.md
  PLUGIN_DEVELOPER_GUIDE.md
  examples/budgets/aws-budget.json
  examples/budgets/gcp-budget.json
  examples/budgets/kubecost-budget.json
  examples/requests/get-budgets-aws.json
  examples/requests/get-budgets-gcp.json
  examples/requests/get-budgets-kubecost.json
  proto/pulumicost/v1/budget.proto
  proto/pulumicost/v1/costsource.proto
  schemas/budget_spec.schema.json
  sdk/go/pluginsdk/logging.go
  sdk/go/pluginsdk/sdk.go
  sdk/go/proto/pulumicost/v1/budget.pb.go
  sdk/go/proto/pulumicost/v1/costsource.pb.go
  sdk/go/proto/pulumicost/v1/costsource_grpc.pb.go
  sdk/go/testing/benchmark_test.go
  sdk/go/testing/concurrency.go
  sdk/go/testing/harness.go
  sdk/go/testing/integration_test.go
  sdk/go/testing/mock_plugin.go
  sdk/go/testing/performance.go
  sdk/go/testing/rpc_correctness.go
  specs/001-get-budgets-rpc/checklists/requirements.md
  specs/001-get-budgets-rpc/contracts/README.md
  specs/001-get-budgets-rpc/contracts/get-budgets-request-aws.json
  specs/001-get-budgets-rpc/contracts/get-budgets-request-gcp.json
  specs/001-get-budgets-rpc/contracts/get-budgets-request-kubecost.json
  specs/001-get-budgets-rpc/contracts/get-budgets-response-aws.json
  specs/001-get-budgets-rpc/contracts/get-budgets-response-gcp.json
  specs/001-get-budgets-rpc/contracts/get-budgets-response-kubecost.json
  specs/001-get-budgets-rpc/data-model.md
  specs/001-get-budgets-rpc/plan.md
  specs/001-get-budgets-rpc/quickstart.md
  specs/001-get-budgets-rpc/research.md
  specs/001-get-budgets-rpc/spec.md
  specs/001-get-budgets-rpc/tasks.md
  validate_examples.js
Due: golangci-lint, markdown-lint

feat(proto): add getbudgets rpc for unified budget visibility (#149)
  AGENTS.md
  CHANGELOG.md
  PLUGIN_DEVELOPER_GUIDE.md
  examples/budgets/aws-budget.json
  examples/budgets/gcp-budget.json
  examples/budgets/kubecost-budget.json
  examples/requests/get-budgets-aws.json
  examples/requests/get-budgets-gcp.json
  examples/requests/get-budgets-kubecost.json
  proto/pulumicost/v1/budget.proto
  proto/pulumicost/v1/costsource.proto
  schemas/budget_spec.schema.json
  sdk/go/pluginsdk/logging.go
  sdk/go/pluginsdk/sdk.go
  sdk/go/proto/pulumicost/v1/budget.pb.go
  sdk/go/proto/pulumicost/v1/costsource.pb.go
  sdk/go/proto/pulumicost/v1/costsource_grpc.pb.go
  sdk/go/testing/benchmark_test.go
  sdk/go/testing/concurrency.go
  sdk/go/testing/harness.go
  sdk/go/testing/integration_test.go
  sdk/go/testing/mock_plugin.go
  sdk/go/testing/performance.go
  sdk/go/testing/rpc_correctness.go
  specs/001-get-budgets-rpc/checklists/requirements.md
  specs/001-get-budgets-rpc/contracts/README.md
  specs/001-get-budgets-rpc/contracts/get-budgets-request-aws.json
  specs/001-get-budgets-rpc/contracts/get-budgets-request-gcp.json
  specs/001-get-budgets-rpc/contracts/get-budgets-request-kubecost.json
  specs/001-get-budgets-rpc/contracts/get-budgets-response-aws.json
  specs/001-get-budgets-rpc/contracts/get-budgets-response-gcp.json
  specs/001-get-budgets-rpc/contracts/get-budgets-response-kubecost.json
  specs/001-get-budgets-rpc/data-model.md
  specs/001-get-budgets-rpc/plan.md
  specs/001-get-budgets-rpc/quickstart.md
  specs/001-get-budgets-rpc/research.md
  specs/001-get-budgets-rpc/spec.md
  specs/001-get-budgets-rpc/tasks.md
  validate_examples.js
Due: golangci-lint, markdown-lint

add Go Benchmark (go) benchmark result for b4018d794fd5b2c2f54541102c7625ffd900f26f
  dev/bench/data.js
Due: none

docs(sdk): add core-plugin interface docs and contract tests
  .github/workflows/ci.yml
  docs/PLUGIN_STARTUP_PROTOCOL.md
  docs/PROPERTY_MAPPING.md
  package-lock.json
  proto/pulumicost/v1/costsource.proto
  sdk/go/proto/pulumicost/v1/costsource.pb.go
  sdk/go/testing/contract.go
  sdk/go/testing/contract_test.go
Due: golangci-lint, markdown-lint, yaml-lint

docs(sdk): add core-plugin interface docs and contract tests (#150)
  .github/workflows/ci.yml
  docs/PLUGIN_STARTUP_PROTOCOL.md
  docs/PROPERTY_MAPPING.md
  package-lock.json
  proto/pulumicost/v1/costsource.proto
  sdk/go/proto/pulumicost/v1/costsource.pb.go
  sdk/go/testing/contract.go
  sdk/go/testing/contract_test.go
Due: golangci-lint, markdown-lint, yaml-lint

Path conditions:
  golangci-lint: any of: *.go
  markdown-lint: any of: *.md
  yaml-lint: any of: *.{yml,yaml}
