Repository rshade/pulumicost-spec: changes, and which lefthook commands are due for each by the changed paths.
All: golangci-lint, markdown-lint, yaml-lint

lefthook.yml:

# Lefthook configuration for pulumicost-spec
# https://github.com/evilmartians/lefthook
#
# Install hooks: make install-lefthook
# Skip hooks temporarily: git commit --no-verify

# Parallel execution for performance
parallel: true

# Skip on merge/rebase commits
skip_merge: true

commit-msg:
  commands:
    commitlint:
      run: npx commitlint --edit {1}
      fail_text: |
        ‚ùå Commit message validation failed

        Your commit message must follow Conventional Commits format:
        <type>[optional scope]: <description>

        Valid types: feat, fix, docs, style, refactor, perf, test, chore, ci, build, revert

        Valid scopes: proto, schema, sdk, testing, pricing, registry, currency, pluginsdk,
                      examples, ci, deps, docs

        Examples:
          feat: add support for hourly billing mode
          fix(schema): correct currency enum validation
          docs: update plugin registry examples

        See: https://www.conventionalcommits.org

pre-commit:
  parallel: true
  commands:
    golangci-lint:
      glob: "*.go"
      run: PATH=~/go/bin:$PATH golangci-lint run --new-from-rev=HEAD~1
      skip:
        - merge
        - rebase

    markdown-lint:
      glob: "*.md"
      run: npm run lint:markdown
      skip:
        - merge
        - rebase

    yaml-lint:
      glob: "*.{yml,yaml}"
      run: yamllint .github/
      skip:
        - merge
        - rebase

pre-push:
  commands:
    tests:
      run: make test
      skip:
        - merge
        - rebase

add Go Benchmark (go) benchmark result for 4abebd1cfabea315a150065a65aca53d3291c6c0
  dev/bench/data.js
Due: none

add Go Benchmark (go) benchmark result for f9c0272cbf8444b74bf71052865a7695d8e9c33c
  dev/bench/data.js
Due: none

feat(proto): add greenops metrics and utilization modeling
  examples/plugins/greenops-plugin.json
  examples/requests/projected-cost-with-utilization.json
  proto/pulumicost/v1/costsource.proto
  sdk/go/pluginsdk/utilization.go
  sdk/go/pluginsdk/validation.go
  sdk/go/pluginsdk/validation_test.go
  sdk/go/proto/pulumicost/v1/costsource.pb.go
  sdk/go/testing/greenops_discovery_test.go
  sdk/go/testing/metric_omission_test.go
  sdk/go/testing/mock_plugin.go
  sdk/go/testing/utilization_clamping_test.go
  sdk/go/testing/utilization_test.go
  specs/020-greenops-integration/checklists/requirements.md
  specs/020-greenops-integration/data-model.md
  specs/020-greenops-integration/plan.md
  specs/020-greenops-integration/quickstart.md
  specs/020-greenops-integration/research.md
  specs/020-greenops-integration/spec.md
  specs/020-greenops-integration/tasks.md
Due: golangci-lint, markdown-lint

fix(testing): add missing recommendation action type enum values
  sdk/go/internal/utilization/utilization.go
  sdk/go/internal/utilization/utilization_test.go
  sdk/go/pluginsdk/utilization.go
  sdk/go/pluginsdk/validation.go
  sdk/go/pluginsdk/validation_test.go
  sdk/go/testing/greenops_discovery_test.go
  sdk/go/testing/integration_test.go
  sdk/go/testing/metric_omission_test.go
  sdk/go/testing/mock_plugin.go
  sdk/go/testing/utilization_clamping_test.go
  sdk/go/testing/utilization_test.go
  specs/020-greenops-integration/research.md
  specs/020-greenops-integration/spec.md
  specs/020-greenops-integration/tasks.md
Due: golangci-lint, markdown-lint

feat(proto): add greenops metrics and utilization modeling (#176)
  examples/plugins/greenops-plugin.json
  examples/requests/projected-cost-with-utilization.json
  proto/pulumicost/v1/costsource.proto
  sdk/go/internal/utilization/utilization.go
  sdk/go/internal/utilization/utilization_test.go
  sdk/go/pluginsdk/utilization.go
  sdk/go/pluginsdk/validation.go
  sdk/go/pluginsdk/validation_test.go
  sdk/go/proto/pulumicost/v1/costsource.pb.go
  sdk/go/testing/greenops_discovery_test.go
  sdk/go/testing/integration_test.go
  sdk/go/testing/metric_omission_test.go
  sdk/go/testing/mock_plugin.go
  sdk/go/testing/utilization_clamping_test.go
  sdk/go/testing/utilization_test.go
  specs/020-greenops-integration/checklists/requirements.md
  specs/020-greenops-integration/data-model.md
  specs/020-greenops-integration/plan.md
  specs/020-greenops-integration/quickstart.md
  specs/020-greenops-integration/research.md
  specs/020-greenops-integration/spec.md
  specs/020-greenops-integration/tasks.md
Due: golangci-lint, markdown-lint

add Go Benchmark (go) benchmark result for d00dc4504c3fc88cc2a7c21ae294db0ee339116c
  dev/bench/data.js
Due: none

add Go Benchmark (go) benchmark result for b9c3ed9dc59650e3ede61a1b793aa67fe3ac04a4
  dev/bench/data.js
Due: none

chore(pluginsdk): use package-level error variables for consistency
  .github/workflows/ci.yml
  Makefile
  proto/pulumicost/v1/costsource.proto
  sdk/go/pluginsdk/validation.go
  sdk/go/pluginsdk/validation_test.go
  sdk/go/proto/pulumicost/v1/costsource.pb.go
Due: golangci-lint, yaml-lint

chore(pluginsdk): use package-level error variables for consistency (#180)
  .github/workflows/ci.yml
  Makefile
  proto/pulumicost/v1/costsource.proto
  sdk/go/pluginsdk/validation.go
  sdk/go/pluginsdk/validation_test.go
  sdk/go/proto/pulumicost/v1/costsource.pb.go
Due: golangci-lint, yaml-lint

add Go Benchmark (go) benchmark result for e935d524d9cd1d27fdb784e0f2df8b7e356b09d8
  dev/bench/data.js
Due: none

# feat(pluginsdk): Enable gRPC server reflection by default
  .markdownlint-cli2.jsonc
  .markdownlintignore
  sdk/go/pluginsdk/reflection_test.go
  sdk/go/pluginsdk/sdk.go
Due: golangci-lint

fix: correct focus-column-audit spec number to 010
  specs/010-focus-column-audit/checklists/requirements.md
  specs/010-focus-column-audit/contracts/focus_proto_additions.proto
  specs/010-focus-column-audit/data-model.md
  specs/010-focus-column-audit/plan.md
  specs/010-focus-column-audit/quickstart.md
  specs/010-focus-column-audit/research.md
  specs/010-focus-column-audit/spec.md
  specs/010-focus-column-audit/tasks.md
Due: markdown-lint

fix: update references in focus-column-audit after renumbering to 010
  sdk/go/pluginsdk/reflection_test.go
  specs/010-focus-column-audit/plan.md
  specs/010-focus-column-audit/tasks.md
Due: golangci-lint, markdown-lint

fix: update CLAUDE.md, GEMINI.md, AGENTS.md with session learnings and apply errCh check in TestServeReflection
  AGENTS.md
  CLAUDE.md
  GEMINI.md
  sdk/go/pluginsdk/reflection_test.go
Due: golangci-lint, markdown-lint

chore: adding in roadmap.md
  CONTEXT.md
  ROADMAP.md
Due: markdown-lint

add Go Benchmark (go) benchmark result for c058c6e57f2f8e0c983ebe092f6084fc3b3f513a
  dev/bench/data.js
Due: none

chore: reorder specs/ directories by build date for incremental numbering
  sdk/go/pluginsdk/reflection_test.go
  specs/009-focus-column-audit/checklists/requirements.md
  specs/009-focus-column-audit/contracts/focus_proto_additions.proto
  specs/009-focus-column-audit/data-model.md
  specs/009-focus-column-audit/plan.md
  specs/009-focus-column-audit/quickstart.md
  specs/009-focus-column-audit/research.md
  specs/009-focus-column-audit/spec.md
  specs/009-focus-column-audit/tasks.md
Due: golangci-lint, markdown-lint

fix: update CLAUDE.md, GEMINI.md, AGENTS.md with session learnings and apply errCh check in TestServeReflection
  sdk/go/pluginsdk/reflection_test.go
Due: golangci-lint

chore: adding in roadmap.md
  ROADMAP.md
  sdk/go/pluginsdk/reflection_test.go
Due: golangci-lint, markdown-lint

chore: adding in roadmap.md (#198)
  ROADMAP.md
Due: markdown-lint

add Go Benchmark (go) benchmark result for 808fa31d7ac1533e018a7cef8d8a3eb587f7d6be
  dev/bench/data.js
Due: none

feat(proto): add focus 1.3 columns and contract commitment dataset
  CLAUDE.md
  ROADMAP.md
  docs/focus-columns.md
  examples/plugins/focus_example.go
  proto/pulumicost/v1/focus.proto
  sdk/go/pluginsdk/README.md
  sdk/go/pluginsdk/contract_commitment_builder.go
  sdk/go/pluginsdk/contract_commitment_builder_test.go
  sdk/go/pluginsdk/focus_builder.go
  sdk/go/pluginsdk/focus_builder_test.go
  sdk/go/pluginsdk/focus_conformance.go
  sdk/go/pluginsdk/focus_conformance_test.go
  sdk/go/proto/pulumicost/v1/focus.pb.go
  sdk/go/testing/focus13_conformance_test.go
  specs/026-focus-1-3-migration/checklists/requirements.md
  specs/026-focus-1-3-migration/contracts/contract_commitment.proto
  specs/026-focus-1-3-migration/contracts/focus_1_3_fields.proto
  specs/026-focus-1-3-migration/data-model.md
  specs/026-focus-1-3-migration/plan.md
  specs/026-focus-1-3-migration/quickstart.md
  specs/026-focus-1-3-migration/research.md
  specs/026-focus-1-3-migration/spec.md
  specs/026-focus-1-3-migration/tasks.md
Due: golangci-lint, markdown-lint

feat(proto): add focus 1.3 columns and contract commitment dataset (#199)
  CLAUDE.md
  ROADMAP.md
  docs/focus-columns.md
  examples/plugins/focus_example.go
  proto/pulumicost/v1/focus.proto
  sdk/go/pluginsdk/README.md
  sdk/go/pluginsdk/contract_commitment_builder.go
  sdk/go/pluginsdk/contract_commitment_builder_test.go
  sdk/go/pluginsdk/focus_builder.go
  sdk/go/pluginsdk/focus_builder_test.go
  sdk/go/pluginsdk/focus_conformance.go
  sdk/go/pluginsdk/focus_conformance_test.go
  sdk/go/proto/pulumicost/v1/focus.pb.go
  sdk/go/testing/focus13_conformance_test.go
  specs/026-focus-1-3-migration/checklists/requirements.md
  specs/026-focus-1-3-migration/contracts/contract_commitment.proto
  specs/026-focus-1-3-migration/contracts/focus_1_3_fields.proto
  specs/026-focus-1-3-migration/data-model.md
  specs/026-focus-1-3-migration/plan.md
  specs/026-focus-1-3-migration/quickstart.md
  specs/026-focus-1-3-migration/research.md
  specs/026-focus-1-3-migration/spec.md
  specs/026-focus-1-3-migration/tasks.md
Due: golangci-lint, markdown-lint

add Go Benchmark (go) benchmark result for 25fcf65591c96435fa3e71e159e42b0f43d5cd6d
  dev/bench/data.js
Due: none

feat(proto): Add id and arn fields to ResourceDescriptor
  CLAUDE.md
  proto/pulumicost/v1/costsource.proto
  sdk/go/pluginsdk/helpers.go
  sdk/go/pluginsdk/helpers_test.go
  sdk/go/proto/pulumicost/v1/costsource.pb.go
  sdk/go/testing/README.md
  sdk/go/testing/resource_id_test.go
  specs/028-resource-id/checklists/requirements.md
  specs/028-resource-id/contracts/resource_descriptor.proto.diff
  specs/028-resource-id/data-model.md
  specs/028-resource-id/plan.md
  specs/028-resource-id/quickstart.md
  specs/028-resource-id/research.md
  specs/028-resource-id/spec.md
  specs/028-resource-id/tasks.md
Due: golangci-lint, markdown-lint

feat(proto): Add id and arn fields to ResourceDescriptor (#202)
  CLAUDE.md
  proto/pulumicost/v1/costsource.proto
  sdk/go/pluginsdk/helpers.go
  sdk/go/pluginsdk/helpers_test.go
  sdk/go/proto/pulumicost/v1/costsource.pb.go
  sdk/go/testing/README.md
  sdk/go/testing/resource_id_test.go
  specs/028-resource-id/checklists/requirements.md
  specs/028-resource-id/contracts/resource_descriptor.proto.diff
  specs/028-resource-id/data-model.md
  specs/028-resource-id/plan.md
  specs/028-resource-id/quickstart.md
  specs/028-resource-id/research.md
  specs/028-resource-id/spec.md
  specs/028-resource-id/tasks.md
Due: golangci-lint, markdown-lint

add Go Benchmark (go) benchmark result for 962db4f17621d134eac1a64f1675574ab47b2859
  dev/bench/data.js
Due: none

feat(pluginsdk): implement contextual finops validation
  CLAUDE.md
  sdk/go/pluginsdk/focus_benchmark_test.go
  sdk/go/pluginsdk/focus_builder_test.go
  sdk/go/pluginsdk/focus_conformance.go
  sdk/go/pluginsdk/focus_conformance_test.go
  sdk/go/pluginsdk/validation_error.go
  sdk/go/pluginsdk/validation_error_test.go
  sdk/go/pluginsdk/validation_options.go
  sdk/go/pluginsdk/validation_options_test.go
  sdk/go/testing/README.md
  sdk/go/testing/focus13_conformance_test.go
  specs/027-finops-validation/checklists/requirements.md
  specs/027-finops-validation/data-model.md
  specs/027-finops-validation/plan.md
  specs/027-finops-validation/quickstart.md
  specs/027-finops-validation/research.md
  specs/027-finops-validation/spec.md
  specs/027-finops-validation/tasks.md
Due: golangci-lint, markdown-lint

feat(pluginsdk): implement contextual finops validation (#201)
  CLAUDE.md
  sdk/go/pluginsdk/focus_benchmark_test.go
  sdk/go/pluginsdk/focus_builder_test.go
  sdk/go/pluginsdk/focus_conformance.go
  sdk/go/pluginsdk/focus_conformance_test.go
  sdk/go/pluginsdk/validation_error.go
  sdk/go/pluginsdk/validation_error_test.go
  sdk/go/pluginsdk/validation_options.go
  sdk/go/pluginsdk/validation_options_test.go
  sdk/go/testing/README.md
  sdk/go/testing/focus13_conformance_test.go
  specs/027-finops-validation/checklists/requirements.md
  specs/027-finops-validation/data-model.md
  specs/027-finops-validation/plan.md
  specs/027-finops-validation/quickstart.md
  specs/027-finops-validation/research.md
  specs/027-finops-validation/spec.md
  specs/027-finops-validation/tasks.md
Due: golangci-lint, markdown-lint

add Go Benchmark (go) benchmark result for 4a9b80805180b261708a87d02ea1fec41b371d7b
  dev/bench/data.js
Due: none

add Go Benchmark (go) benchmark result for 0d8ea481fe23fda18c1bfb6d9f53bd045b8dc8e6
  dev/bench/data.js
Due: none

docs(sdk): add advanced implementation patterns and examples
  docs/ADVANCED_PATTERNS.md
  examples/advanced/README.md
  examples/advanced/multiprovider/multi_provider.go
  examples/advanced/tieredpricing/tiered_pricing.go
Due: golangci-lint, markdown-lint

docs(sdk): add advanced implementation patterns and examples
  ROADMAP.md
  docs/ADVANCED_PATTERNS.md
  examples/advanced/README.md
  examples/advanced/multiprovider/multi_provider.go
  examples/advanced/multiprovider/multi_provider_test.go
  examples/advanced/tieredpricing/tiered_pricing.go
  examples/advanced/tieredpricing/tiered_pricing_test.go
Due: golangci-lint, markdown-lint

docs(sdk): add advanced implementation patterns and examples (#213)
  ROADMAP.md
  docs/ADVANCED_PATTERNS.md
  examples/advanced/README.md
  examples/advanced/multiprovider/multi_provider.go
  examples/advanced/multiprovider/multi_provider_test.go
  examples/advanced/tieredpricing/tiered_pricing.go
  examples/advanced/tieredpricing/tiered_pricing_test.go
Due: golangci-lint, markdown-lint
