Repository rshade/pulumicost-spec: changes, and which lefthook commands are due for each by the changed paths.
All: golangci-lint, markdown-lint, yaml-lint

golangci-lint:
  run: PATH=~/go/bin:$PATH golangci-lint run --new-from-rev=HEAD~1
  skip:
  - merge
  - rebase

markdown-lint:
  run: npm run lint:markdown
  skip:
  - merge
  - rebase

yaml-lint:
  run: yamllint .github/
  skip:
  - merge
  - rebase

feat(proto): add standardized reasoning metadata (#288)
  CLAUDE.md
  proto/finfocus/v1/costsource.proto
  proto/finfocus/v1/enums.proto
  sdk/go/finfocus/v1/recommendation_test.go
  sdk/go/pluginsdk/README.md
  sdk/go/pluginsdk/env.go
  sdk/go/pluginsdk/env_test.go
  sdk/go/pluginsdk/sdk.go
  sdk/go/pluginsdk/sdk_test.go
  sdk/go/proto/finfocus/v1/costsource.pb.go
  sdk/go/proto/finfocus/v1/enums.pb.go
  specs/001-recommendation-reasoning/checklists/requirements.md
  specs/001-recommendation-reasoning/contracts/finfocus/v1/recommendation_changes.proto
  specs/001-recommendation-reasoning/data-model.md
  specs/001-recommendation-reasoning/plan.md
  specs/001-recommendation-reasoning/quickstart.md
  specs/001-recommendation-reasoning/research.md
  specs/001-recommendation-reasoning/spec.md
  specs/001-recommendation-reasoning/tasks.md
Due: golangci-lint, markdown-lint

feat(sdk): implement plugin capability discovery and auto-detection
  .specify/memory/constitution.md
  CLAUDE.md
  PLUGIN_DEVELOPER_GUIDE.md
  proto/finfocus/v1/costsource.proto
  proto/finfocus/v1/enums.proto
  sdk/go/pluginsdk/conformance_test.go
  sdk/go/pluginsdk/env.go
  sdk/go/pluginsdk/plugin_info.go
  sdk/go/pluginsdk/plugin_info_benchmark_test.go
  sdk/go/pluginsdk/plugin_info_test.go
  sdk/go/pluginsdk/sdk.go
  sdk/go/pluginsdk/sdk_test.go
  sdk/go/proto/finfocus/v1/costsource.pb.go
  sdk/go/proto/finfocus/v1/enums.pb.go
  specs/001-recommendation-reasoning/data-model.md
  specs/001-recommendation-reasoning/plan.md
  specs/001-recommendation-reasoning/quickstart.md
  specs/001-recommendation-reasoning/research.md
  specs/001-recommendation-reasoning/spec.md
  specs/001-recommendation-reasoning/tasks.md
  specs/036-capability-enum/checklists/requirements.md
  specs/036-capability-enum/contracts/costsource_draft.proto
  specs/036-capability-enum/contracts/enums_draft.proto
  specs/036-capability-enum/data-model.md
  specs/036-capability-enum/plan.md
  specs/036-capability-enum/quickstart.md
  specs/036-capability-enum/research.md
  specs/036-capability-enum/spec.md
  specs/036-capability-enum/tasks.md
Due: golangci-lint, markdown-lint

feat(sdk): implement plugin capability discovery and auto-detection (#290)
  .specify/memory/constitution.md
  CLAUDE.md
  PLUGIN_DEVELOPER_GUIDE.md
  proto/finfocus/v1/costsource.proto
  proto/finfocus/v1/enums.proto
  sdk/go/pluginsdk/conformance_test.go
  sdk/go/pluginsdk/env.go
  sdk/go/pluginsdk/plugin_info.go
  sdk/go/pluginsdk/plugin_info_benchmark_test.go
  sdk/go/pluginsdk/plugin_info_test.go
  sdk/go/pluginsdk/sdk.go
  sdk/go/pluginsdk/sdk_test.go
  sdk/go/proto/finfocus/v1/costsource.pb.go
  sdk/go/proto/finfocus/v1/enums.pb.go
  specs/001-recommendation-reasoning/data-model.md
  specs/001-recommendation-reasoning/plan.md
  specs/001-recommendation-reasoning/quickstart.md
  specs/001-recommendation-reasoning/research.md
  specs/001-recommendation-reasoning/spec.md
  specs/001-recommendation-reasoning/tasks.md
  specs/036-capability-enum/checklists/requirements.md
  specs/036-capability-enum/contracts/costsource_draft.proto
  specs/036-capability-enum/contracts/enums_draft.proto
  specs/036-capability-enum/data-model.md
  specs/036-capability-enum/plan.md
  specs/036-capability-enum/quickstart.md
  specs/036-capability-enum/research.md
  specs/036-capability-enum/spec.md
  specs/036-capability-enum/tasks.md
Due: golangci-lint, markdown-lint

feat(sdk): implement granular capability discovery in supports rpc
  PLUGIN_DEVELOPER_GUIDE.md
  proto/finfocus/v1/costsource.proto
  sdk/go/pluginsdk/sdk.go
  sdk/go/pluginsdk/sdk_test.go
  sdk/go/proto/finfocus/v1/costsource.pb.go
  specs/037-dual-layer-capability-discovery/spec.md
Due: golangci-lint, markdown-lint

feat(sdk): implement granular capability discovery in supports rpc (#291)
  PLUGIN_DEVELOPER_GUIDE.md
  proto/finfocus/v1/costsource.proto
  sdk/go/pluginsdk/sdk.go
  sdk/go/pluginsdk/sdk_test.go
  sdk/go/proto/finfocus/v1/costsource.pb.go
  specs/037-dual-layer-capability-discovery/spec.md
Due: golangci-lint, markdown-lint

feat(sdk): implement granular capability discovery in supports rpc
  PLUGIN_DEVELOPER_GUIDE.md
  proto/finfocus/v1/enums.proto
  sdk/go/pluginsdk/capabilities_test.go
  sdk/go/pluginsdk/conformance_test.go
  sdk/go/pluginsdk/plugin_info.go
  sdk/go/pluginsdk/sdk.go
  sdk/go/pluginsdk/sdk_test.go
  sdk/go/proto/finfocus/v1/enums.pb.go
  sdk/go/testing/conformance_test.go
  specs/037-capability-discovery/checklists/requirements.md
  specs/037-capability-discovery/contracts/proto_changes.proto
  specs/037-capability-discovery/data-model.md
  specs/037-capability-discovery/plan.md
  specs/037-capability-discovery/quickstart.md
  specs/037-capability-discovery/research.md
  specs/037-capability-discovery/spec.md
  specs/037-capability-discovery/tasks.md
  specs/037-dual-layer-capability-discovery/spec.md
Due: golangci-lint, markdown-lint

feat(sdk): implement granular capability discovery in supports rpc (#292)
  PLUGIN_DEVELOPER_GUIDE.md
  proto/finfocus/v1/enums.proto
  sdk/go/pluginsdk/capabilities_test.go
  sdk/go/pluginsdk/conformance_test.go
  sdk/go/pluginsdk/plugin_info.go
  sdk/go/pluginsdk/sdk.go
  sdk/go/pluginsdk/sdk_test.go
  sdk/go/proto/finfocus/v1/enums.pb.go
  sdk/go/testing/conformance_test.go
  specs/037-capability-discovery/checklists/requirements.md
  specs/037-capability-discovery/contracts/proto_changes.proto
  specs/037-capability-discovery/data-model.md
  specs/037-capability-discovery/plan.md
  specs/037-capability-discovery/quickstart.md
  specs/037-capability-discovery/research.md
  specs/037-capability-discovery/spec.md
  specs/037-capability-discovery/tasks.md
  specs/037-dual-layer-capability-discovery/spec.md
Due: golangci-lint, markdown-lint

docs: amend constitution to v1.4.0 (multi-language SDK synchronization)
  .markdownlint-cli2.jsonc
  .markdownlint.json
  .markdownlintignore
  .specify/memory/constitution.md
  .specify/templates/plan-template.md
  .specify/templates/tasks-template.md
  GEMINI.md
  buf.gen.yaml
  sdk/go/pluginsdk/conformance_test.go
  sdk/go/pluginsdk/plugin_info.go
  sdk/go/pluginsdk/plugin_info_benchmark_test.go
  sdk/go/pluginsdk/plugin_info_test.go
  sdk/go/pluginsdk/sdk.go
  sdk/go/proto/finfocus/v1/budget.pb.go
  sdk/go/proto/finfocus/v1/costsource.pb.go
  sdk/go/proto/finfocus/v1/enums.pb.go
  sdk/go/proto/finfocus/v1/focus.pb.go
  sdk/go/proto/finfocus/v1/registry.pb.go
  sdk/typescript/packages/client/src/builders/focus-record.ts
  sdk/typescript/packages/client/src/builders/recommendation-filter.ts
  sdk/typescript/packages/client/src/builders/resource-descriptor.ts
  sdk/typescript/packages/client/src/generated/finfocus/v1/budget_pb.ts
  sdk/typescript/packages/client/src/generated/finfocus/v1/costsource_connect.ts
  sdk/typescript/packages/client/src/generated/finfocus/v1/costsource_pb.ts
  sdk/typescript/packages/client/src/generated/finfocus/v1/enums_pb.ts
  sdk/typescript/packages/client/src/generated/finfocus/v1/focus_pb.ts
  sdk/typescript/packages/client/src/generated/finfocus/v1/registry_connect.ts
  sdk/typescript/packages/client/src/generated/finfocus/v1/registry_pb.ts
  sdk/typescript/packages/client/src/utils/pagination.ts
  sdk/typescript/packages/framework-plugins/src/nestjs/index.ts
  sdk/typescript/packages/middleware/src/gateway.ts
  specs/028-typescript-sdk/data-model.md
  specs/028-typescript-sdk/plan.md
  specs/028-typescript-sdk/research.md
  specs/028-typescript-sdk/tasks.md
Due: golangci-lint, markdown-lint, yaml-lint

fix(sdk): complete typescript sdk builder api and improve error handling
  sdk/go/pluginsdk/conformance_test.go
  sdk/typescript/packages/client/src/builders/recommendation-filter.ts
  sdk/typescript/packages/client/src/errors/index.ts
  sdk/typescript/packages/middleware/src/gateway.ts
Due: golangci-lint

fix(sdk): complete typescript sdk builder api and improve error handling (#303)
  sdk/go/pluginsdk/conformance_test.go
  sdk/typescript/packages/client/src/builders/recommendation-filter.ts
  sdk/typescript/packages/client/src/errors/index.ts
  sdk/typescript/packages/middleware/src/gateway.ts
Due: golangci-lint

fix(sdk): complete typescript sdk builder api and improve error handling (#303)
  sdk/typescript/packages/client/src/builders/recommendation-filter.ts
Due: none

fix(sdk): complete typescript sdk builder api and improve error handling (#303) (#305)
  sdk/typescript/packages/client/src/builders/recommendation-filter.ts
Due: none

fix(pluginsdk): improve capability discovery robustness
  ROADMAP.md
  sdk/go/pluginsdk/conformance_test.go
  sdk/go/pluginsdk/plugin_info.go
  sdk/go/pluginsdk/sdk.go
Due: golangci-lint, markdown-lint

fix(pluginsdk): improve capability discovery robustness (#306)
  ROADMAP.md
  sdk/go/pluginsdk/conformance_test.go
  sdk/go/pluginsdk/plugin_info.go
  sdk/go/pluginsdk/sdk.go
Due: golangci-lint, markdown-lint

feat(sdk): polish capability discovery and optimize performance
  CLAUDE.md
  ROADMAP.md
  proto/finfocus/v1/costsource.proto
  sdk/go/pluginsdk/README.md
  sdk/go/pluginsdk/capabilities_test.go
  sdk/go/pluginsdk/capability_compat.go
  sdk/go/pluginsdk/capability_compat_test.go
  sdk/go/pluginsdk/conformance_test.go
  sdk/go/pluginsdk/plugin_info.go
  sdk/go/pluginsdk/plugin_info_test.go
  sdk/go/pluginsdk/sdk.go
  sdk/go/pluginsdk/sdk_test.go
  sdk/go/pluginsdk/slice_benchmark_test.go
  sdk/go/proto/finfocus/v1/costsource.pb.go
  sdk/go/testing/README.md
  sdk/go/testing/resource_id_test.go
  sdk/typescript/packages/client/src/generated/finfocus/v1/costsource_pb.ts
  specs/038-capability-discovery-polish/checklists/requirements.md
  specs/038-capability-discovery-polish/contracts/proto-updates.md
  specs/038-capability-discovery-polish/data-model.md
  specs/038-capability-discovery-polish/plan.md
  specs/038-capability-discovery-polish/quickstart.md
  specs/038-capability-discovery-polish/research.md
  specs/038-capability-discovery-polish/spec.md
  specs/038-capability-discovery-polish/tasks.md
  specs/cdp-spec.md
Due: golangci-lint, markdown-lint

feat(sdk): polish capability discovery and optimize performance (#310)
  CLAUDE.md
  ROADMAP.md
  proto/finfocus/v1/costsource.proto
  sdk/go/pluginsdk/README.md
  sdk/go/pluginsdk/capabilities_test.go
  sdk/go/pluginsdk/capability_compat.go
  sdk/go/pluginsdk/capability_compat_test.go
  sdk/go/pluginsdk/conformance_test.go
  sdk/go/pluginsdk/plugin_info.go
  sdk/go/pluginsdk/plugin_info_test.go
  sdk/go/pluginsdk/sdk.go
  sdk/go/pluginsdk/sdk_test.go
  sdk/go/pluginsdk/slice_benchmark_test.go
  sdk/go/proto/finfocus/v1/costsource.pb.go
  sdk/go/testing/README.md
  sdk/go/testing/resource_id_test.go
  sdk/typescript/packages/client/src/generated/finfocus/v1/costsource_pb.ts
  specs/038-capability-discovery-polish/checklists/requirements.md
  specs/038-capability-discovery-polish/contracts/proto-updates.md
  specs/038-capability-discovery-polish/data-model.md
  specs/038-capability-discovery-polish/plan.md
  specs/038-capability-discovery-polish/quickstart.md
  specs/038-capability-discovery-polish/research.md
  specs/038-capability-discovery-polish/spec.md
  specs/038-capability-discovery-polish/tasks.md
  specs/cdp-spec.md
Due: golangci-lint, markdown-lint

docs: add plan and tasks for ts publishing infra
  PR_MESSAGE.md
  specs/039-ts-publishing-infra/plan.md
  specs/039-ts-publishing-infra/tasks.md
Due: markdown-lint

docs: create spec and checklist for ts publishing infra
  specs/039-ts-publishing-infra/checklists/requirements.md
  specs/039-ts-publishing-infra/spec.md
Due: markdown-lint

docs: add research, data-model, quickstart and update plan for 039-ts-publishing-infra
  specs/039-ts-publishing-infra/data-model.md
  specs/039-ts-publishing-infra/plan.md
  specs/039-ts-publishing-infra/quickstart.md
  specs/039-ts-publishing-infra/research.md
Due: markdown-lint

docs: generate tasks and plan for 039-ts-publishing-infra
  specs/039-ts-publishing-infra/plan.md
  specs/039-ts-publishing-infra/tasks.md
Due: markdown-lint

feat(ci): implement automated typescript sdk publishing
  .github/workflows/publish-ts-client.yml
  .release-please-manifest.json
  PR_MESSAGE.md
  ROADMAP.md
  buf.gen.yaml
  release-please-config.json
  sdk/typescript/package-lock.json
  sdk/typescript/packages/client/package.json
  sdk/typescript/packages/client/src/builders/focus-record.ts
  sdk/typescript/packages/client/src/builders/recommendation-filter.ts
  sdk/typescript/packages/client/src/builders/resource-descriptor.ts
  sdk/typescript/packages/client/src/clients/auxiliary.ts
  sdk/typescript/packages/client/src/clients/cost-source.ts
  sdk/typescript/packages/client/src/generated/finfocus/v1/costsource_connect.ts
  sdk/typescript/packages/client/src/generated/finfocus/v1/registry_connect.ts
  sdk/typescript/packages/client/src/index.ts
  sdk/typescript/packages/client/src/utils/pagination.ts
  sdk/typescript/packages/client/test/integration.test.ts
  sdk/typescript/packages/client/test/mocks/handlers.ts
  sdk/typescript/packages/client/tsconfig.tsbuildinfo
  sdk/typescript/packages/framework-plugins/package.json
  sdk/typescript/packages/middleware/package.json
  sdk/typescript/tsconfig.base.json
  specs/039-ts-publishing-infra/checklists/requirements.md
  specs/039-ts-publishing-infra/plan.md
  specs/039-ts-publishing-infra/quickstart.md
  specs/039-ts-publishing-infra/research.md
  specs/039-ts-publishing-infra/spec.md
  specs/039-ts-publishing-infra/tasks.md
Due: markdown-lint, yaml-lint

feat(ci): implement automated typescript sdk publishing (#312)
  .github/workflows/publish-ts-client.yml
  .release-please-manifest.json
  PR_MESSAGE.md
  ROADMAP.md
  buf.gen.yaml
  release-please-config.json
  sdk/typescript/package-lock.json
  sdk/typescript/packages/client/package.json
  sdk/typescript/packages/client/src/builders/focus-record.ts
  sdk/typescript/packages/client/src/builders/recommendation-filter.ts
  sdk/typescript/packages/client/src/builders/resource-descriptor.ts
  sdk/typescript/packages/client/src/clients/auxiliary.ts
  sdk/typescript/packages/client/src/clients/cost-source.ts
  sdk/typescript/packages/client/src/generated/finfocus/v1/costsource_connect.ts
  sdk/typescript/packages/client/src/generated/finfocus/v1/registry_connect.ts
  sdk/typescript/packages/client/src/index.ts
  sdk/typescript/packages/client/src/utils/pagination.ts
  sdk/typescript/packages/client/test/integration.test.ts
  sdk/typescript/packages/client/test/mocks/handlers.ts
  sdk/typescript/packages/client/tsconfig.tsbuildinfo
  sdk/typescript/packages/framework-plugins/package.json
  sdk/typescript/packages/middleware/package.json
  sdk/typescript/tsconfig.base.json
  specs/039-ts-publishing-infra/checklists/requirements.md
  specs/039-ts-publishing-infra/data-model.md
  specs/039-ts-publishing-infra/plan.md
  specs/039-ts-publishing-infra/quickstart.md
  specs/039-ts-publishing-infra/research.md
  specs/039-ts-publishing-infra/spec.md
  specs/039-ts-publishing-infra/tasks.md
Due: markdown-lint, yaml-lint

feat(ci): implement automated typescript sdk publishing
  .github/workflows/publish-ts-client.yml
  .github/workflows/release-please.yml
Due: yaml-lint

docs: add plan and tasks for ts publishing infra
  specs/039-ts-publishing-infra/plan.md
  specs/039-ts-publishing-infra/tasks.md
Due: markdown-lint

Merge conflict resolution: Keep HEAD formatting with line breaks
  specs/039-ts-publishing-infra/checklists/requirements.md
Due: markdown-lint

Path conditions:
  golangci-lint: any of: *.go
  markdown-lint: any of: *.md
  yaml-lint: any of: *.{yml,yaml}
