Repository rshade/pulumicost-spec: changes, and which lefthook commands are due for each by the changed paths.
All: golangci-lint, markdown-lint, yaml-lint

lefthook.yml:

# Lefthook configuration for pulumicost-spec
# https://github.com/evilmartians/lefthook
#
# Install hooks: make install-lefthook
# Skip hooks temporarily: git commit --no-verify

# Parallel execution for performance
parallel: true

# Skip on merge/rebase commits
skip_merge: true

commit-msg:
  commands:
    commitlint:
      run: npx commitlint --edit {1}
      fail_text: |
        ‚ùå Commit message validation failed

        Your commit message must follow Conventional Commits format:
        <type>[optional scope]: <description>

        Valid types: feat, fix, docs, style, refactor, perf, test, chore, ci, build, revert

        Valid scopes: proto, schema, sdk, testing, pricing, registry, currency, pluginsdk,
                      examples, ci, deps, docs

        Examples:
          feat: add support for hourly billing mode
          fix(schema): correct currency enum validation
          docs: update plugin registry examples

        See: https://www.conventionalcommits.org

pre-commit:
  parallel: true
  commands:
    golangci-lint:
      glob: "*.go"
      run: PATH=~/go/bin:$PATH golangci-lint run --new-from-rev=HEAD~1
      skip:
        - merge
        - rebase

    markdown-lint:
      glob: "*.md"
      run: npm run lint:markdown
      skip:
        - merge
        - rebase

    yaml-lint:
      glob: "*.{yml,yaml}"
      run: yamllint .github/
      skip:
        - merge
        - rebase

pre-push:
  commands:
    tests:
      run: make test
      skip:
        - merge
        - rebase

fix(pluginsdk): use zerolog in health handler (#268)
  sdk/go/pluginsdk/health.go
Due: golangci-lint

refactor(sdk): Improve ARN provider type safety
  sdk/go/pluginsdk/arn.go
  sdk/go/pluginsdk/arn_test.go
  specs/001-sdk-polish-release/contracts/README.md
Due: golangci-lint, markdown-lint

refactor(sdk): Improve ARN provider type safety (#269)
  sdk/go/pluginsdk/arn.go
  sdk/go/pluginsdk/arn_test.go
  specs/001-sdk-polish-release/contracts/README.md
Due: golangci-lint, markdown-lint

refactor(sdk): Improve ARN provider type safety
  sdk/go/pluginsdk/arn.go
  sdk/go/pluginsdk/arn_test.go
Due: golangci-lint

refactor(sdk): Improve ARN provider type safety (#270)
  sdk/go/pluginsdk/arn.go
  sdk/go/pluginsdk/arn_test.go
Due: golangci-lint

test(sdk): fix timeout and performance verification suite
  AGENTS.md
  README.md
  ROADMAP.md
  docs/conformance.md
  release-please-config.json
  sdk/go/pluginsdk/client.go
  sdk/go/pluginsdk/client_test.go
  sdk/go/pluginsdk/error_test.go
  sdk/go/pluginsdk/sdk.go
  sdk/go/pluginsdk/sdk_test.go
  sdk/go/pluginsdk/timeout_test.go
  sdk/go/pluginsdk/version.go
  sdk/go/pluginsdk/version_test.go
  sdk/go/testing/concurrency.go
  sdk/go/testing/harness.go
  sdk/go/testing/mock_legacy_plugin.go
  sdk/go/testing/performance.go
  sdk/go/testing/performance_suite_test.go
  sdk/go/testing/performance_test.go
  specs/034-sdk-polish/checklists/requirements.md
  specs/034-sdk-polish/contracts/client-timeout-api.md
  specs/034-sdk-polish/contracts/getplugininfo-errors.md
  specs/034-sdk-polish/contracts/getplugininfo-performance.md
  specs/034-sdk-polish/data-model.md
  specs/034-sdk-polish/plan.md
  specs/034-sdk-polish/quickstart.md
  specs/034-sdk-polish/research.md
  specs/034-sdk-polish/spec.md
  specs/034-sdk-polish/tasks.md
Due: golangci-lint, markdown-lint

test(sdk): fix timeout and performance verification suite (#271)
  AGENTS.md
  README.md
  ROADMAP.md
  docs/conformance.md
  release-please-config.json
  sdk/go/pluginsdk/client.go
  sdk/go/pluginsdk/client_test.go
  sdk/go/pluginsdk/error_test.go
  sdk/go/pluginsdk/sdk.go
  sdk/go/pluginsdk/sdk_test.go
  sdk/go/pluginsdk/timeout_test.go
  sdk/go/pluginsdk/version.go
  sdk/go/pluginsdk/version_test.go
  sdk/go/testing/concurrency.go
  sdk/go/testing/harness.go
  sdk/go/testing/mock_legacy_plugin.go
  sdk/go/testing/performance.go
  sdk/go/testing/performance_suite_test.go
  sdk/go/testing/performance_test.go
  specs/034-sdk-polish/checklists/requirements.md
  specs/034-sdk-polish/contracts/client-timeout-api.md
  specs/034-sdk-polish/contracts/getplugininfo-errors.md
  specs/034-sdk-polish/contracts/getplugininfo-performance.md
  specs/034-sdk-polish/data-model.md
  specs/034-sdk-polish/plan.md
  specs/034-sdk-polish/quickstart.md
  specs/034-sdk-polish/research.md
  specs/034-sdk-polish/spec.md
  specs/034-sdk-polish/tasks.md
Due: golangci-lint, markdown-lint

chore: fix release-please
  release-please-config.json
Due: none

chore: fix release-please (#275)
  release-please-config.json
Due: none

chore: fix release-please
  release-please-config.json
  sdk/go/pluginsdk/version.go
Due: golangci-lint

chore: fix release-please (#276)
  release-please-config.json
  sdk/go/pluginsdk/version.go
Due: golangci-lint

chore: setting manifest version back to v0.4.14
  .release-please-manifest.json
Due: none

chore: setting manifest version back to v0.4.14 (#278)
  .release-please-manifest.json
Due: none

chore: complete FinFocus rename cleanup
  .claude/agents/finfocus-product-manager.md
  .claude/agents/finfocus-senior-engineer.md
  .claude/agents/finfocus-technical-writer.md
  .specify/memory/constitution.md
  lefthook.yml
Due: markdown-lint, yaml-lint

chore: complete FinFocus rename cleanup (#285)
  .claude/agents/finfocus-product-manager.md
  .claude/agents/finfocus-senior-engineer.md
  .claude/agents/finfocus-technical-writer.md
  .specify/memory/constitution.md
  lefthook.yml
Due: markdown-lint, yaml-lint

docs: add pulumicost to finfocus migration guide
  AGENTS.md
  CHANGELOG.md
  CLAUDE.md
  MIGRATION.md
  README.md
  llm-migration.json
  schemas/migration.schema.json
  sdk/go/CLAUDE.md
  sdk/go/pluginsdk/env.go
  specs/001-migration-docs/checklists/requirements.md
  specs/001-migration-docs/contracts
  specs/001-migration-docs/data-model.md
  specs/001-migration-docs/plan.md
  specs/001-migration-docs/spec.md
  specs/001-migration-docs/tasks.md
Due: golangci-lint, markdown-lint

docs: add pulumicost to finfocus migration guide (#286)
  AGENTS.md
  CHANGELOG.md
  CLAUDE.md
  MIGRATION.md
  README.md
  llm-migration.json
  schemas/migration.schema.json
  sdk/go/CLAUDE.md
  sdk/go/pluginsdk/env.go
  specs/001-migration-docs/checklists/requirements.md
  specs/001-migration-docs/contracts
  specs/001-migration-docs/data-model.md
  specs/001-migration-docs/plan.md
  specs/001-migration-docs/spec.md
  specs/001-migration-docs/tasks.md
Due: golangci-lint, markdown-lint

feat(proto): add standardized reasoning metadata
  CLAUDE.md
  proto/finfocus/v1/costsource.proto
  proto/finfocus/v1/enums.proto
  sdk/go/finfocus/v1/recommendation_test.go
  sdk/go/pluginsdk/README.md
  sdk/go/pluginsdk/env.go
  sdk/go/pluginsdk/env_test.go
  sdk/go/pluginsdk/sdk.go
  sdk/go/pluginsdk/sdk_test.go
  sdk/go/proto/finfocus/v1/costsource.pb.go
  sdk/go/proto/finfocus/v1/enums.pb.go
  specs/001-recommendation-reasoning/checklists/requirements.md
  specs/001-recommendation-reasoning/contracts/finfocus/v1/recommendation_changes.proto
  specs/001-recommendation-reasoning/data-model.md
  specs/001-recommendation-reasoning/plan.md
  specs/001-recommendation-reasoning/quickstart.md
  specs/001-recommendation-reasoning/research.md
  specs/001-recommendation-reasoning/spec.md
  specs/001-recommendation-reasoning/tasks.md
Due: golangci-lint, markdown-lint
