Repository rshade/pulumicost-spec: changes, and which lefthook commands are due for each by the changed paths.
All: golangci-lint, markdown-lint, yaml-lint

lefthook.yml:

# Lefthook configuration for pulumicost-spec
# https://github.com/evilmartians/lefthook
#
# Install hooks: make install-lefthook
# Skip hooks temporarily: git commit --no-verify

# Parallel execution for performance
parallel: true

# Skip on merge/rebase commits
skip_merge: true

commit-msg:
  commands:
    commitlint:
      run: npx commitlint --edit {1}
      fail_text: |
        ‚ùå Commit message validation failed

        Your commit message must follow Conventional Commits format:
        <type>[optional scope]: <description>

        Valid types: feat, fix, docs, style, refactor, perf, test, chore, ci, build, revert

        Valid scopes: proto, schema, sdk, testing, pricing, registry, currency, pluginsdk,
                      examples, ci, deps, docs

        Examples:
          feat: add support for hourly billing mode
          fix(schema): correct currency enum validation
          docs: update plugin registry examples

        See: https://www.conventionalcommits.org

pre-commit:
  parallel: true
  commands:
    golangci-lint:
      glob: "*.go"
      run: PATH=~/go/bin:$PATH golangci-lint run --new-from-rev=HEAD~1
      skip:
        - merge
        - rebase

    markdown-lint:
      glob: "*.md"
      run: npm run lint:markdown
      skip:
        - merge
        - rebase

    yaml-lint:
      glob: "*.{yml,yaml}"
      run: yamllint .github/
      skip:
        - merge
        - rebase

pre-push:
  commands:
    tests:
      run: make test
      skip:
        - merge
        - rebase

feat(pluginsdk): add multi-protocol support with connect-go
  .github/workflows/benchmarks.yml
  AGENTS.md
  ROADMAP.md
  buf.gen.yaml
  buf.yaml
  examples/plugins/web-client/README.md
  examples/plugins/web-client/client.js
  examples/plugins/web-client/index.html
  go.mod
  go.sum
  proto/pulumicost/v1/budget.proto
  proto/pulumicost/v1/costsource.proto
  proto/pulumicost/v1/enums.proto
  proto/pulumicost/v1/focus.proto
  proto/pulumicost/v1/registry.proto
  sdk/go/currency/CLAUDE.md
  sdk/go/currency/validate.go
  sdk/go/pluginsdk/README.md
  sdk/go/pluginsdk/client.go
  sdk/go/pluginsdk/client_test.go
  sdk/go/pluginsdk/connect.go
  sdk/go/pluginsdk/connect_test.go
  sdk/go/pluginsdk/health.go
  sdk/go/pluginsdk/options.go
  sdk/go/pluginsdk/sdk.go
  sdk/go/proto/pulumicost/v1/budget.pb.go
  sdk/go/proto/pulumicost/v1/costsource.pb.go
  sdk/go/proto/pulumicost/v1/enums.pb.go
  sdk/go/proto/pulumicost/v1/focus.pb.go
  sdk/go/proto/pulumicost/v1/pbcconnect/costsource.connect.go
  sdk/go/proto/pulumicost/v1/pbcconnect/registry.connect.go
  sdk/go/proto/pulumicost/v1/registry.pb.go
  specs/029-grpc-web-support/checklists/requirements.md
  specs/029-grpc-web-support/data-model.md
  specs/029-grpc-web-support/plan.md
  specs/029-grpc-web-support/quickstart.md
  specs/029-grpc-web-support/research.md
  specs/029-grpc-web-support/spec.md
  specs/029-grpc-web-support/tasks.md
Due: golangci-lint, markdown-lint, yaml-lint

feat(pluginsdk): add multi-protocol support with connect-go (#223)
  .github/workflows/benchmarks.yml
  AGENTS.md
  ROADMAP.md
  buf.gen.yaml
  buf.yaml
  examples/plugins/web-client/README.md
  examples/plugins/web-client/client.js
  examples/plugins/web-client/index.html
  go.mod
  go.sum
  proto/pulumicost/v1/budget.proto
  proto/pulumicost/v1/costsource.proto
  proto/pulumicost/v1/enums.proto
  proto/pulumicost/v1/focus.proto
  proto/pulumicost/v1/registry.proto
  sdk/go/currency/CLAUDE.md
  sdk/go/currency/validate.go
  sdk/go/pluginsdk/README.md
  sdk/go/pluginsdk/client.go
  sdk/go/pluginsdk/client_test.go
  sdk/go/pluginsdk/connect.go
  sdk/go/pluginsdk/connect_test.go
  sdk/go/pluginsdk/health.go
  sdk/go/pluginsdk/options.go
  sdk/go/pluginsdk/sdk.go
  sdk/go/proto/pulumicost/v1/budget.pb.go
  sdk/go/proto/pulumicost/v1/costsource.pb.go
  sdk/go/proto/pulumicost/v1/enums.pb.go
  sdk/go/proto/pulumicost/v1/focus.pb.go
  sdk/go/proto/pulumicost/v1/pbcconnect/costsource.connect.go
  sdk/go/proto/pulumicost/v1/pbcconnect/registry.connect.go
  sdk/go/proto/pulumicost/v1/registry.pb.go
  specs/029-grpc-web-support/checklists/requirements.md
  specs/029-grpc-web-support/data-model.md
  specs/029-grpc-web-support/plan.md
  specs/029-grpc-web-support/quickstart.md
  specs/029-grpc-web-support/research.md
  specs/029-grpc-web-support/spec.md
  specs/029-grpc-web-support/tasks.md
Due: golangci-lint, markdown-lint, yaml-lint

feat(proto): add forecasting primitives for cost projections
  CLAUDE.md
  examples/requests/projected_cost_exponential_growth.json
  examples/requests/projected_cost_linear_growth.json
  examples/requests/projected_cost_override.json
  proto/pulumicost/v1/costsource.proto
  proto/pulumicost/v1/enums.proto
  sdk/go/pricing/README.md
  sdk/go/pricing/growth.go
  sdk/go/pricing/growth_test.go
  sdk/go/proto/pulumicost/v1/costsource.pb.go
  sdk/go/proto/pulumicost/v1/enums.pb.go
  sdk/go/testing/forecasting_backward_test.go
  sdk/go/testing/forecasting_test.go
  sdk/go/testing/forecasting_validation_test.go
  specs/030-forecasting-primitives/checklists/requirements.md
  specs/030-forecasting-primitives/contracts/forecasting.proto.md
  specs/030-forecasting-primitives/data-model.md
  specs/030-forecasting-primitives/plan.md
  specs/030-forecasting-primitives/quickstart.md
  specs/030-forecasting-primitives/quickstart_test.go
  specs/030-forecasting-primitives/research.md
  specs/030-forecasting-primitives/spec.md
  specs/030-forecasting-primitives/tasks.md
Due: golangci-lint, markdown-lint

feat(proto): add forecasting primitives for cost projections (#241)
  CLAUDE.md
  examples/requests/projected_cost_exponential_growth.json
  examples/requests/projected_cost_linear_growth.json
  examples/requests/projected_cost_override.json
  proto/pulumicost/v1/costsource.proto
  proto/pulumicost/v1/enums.proto
  sdk/go/pricing/README.md
  sdk/go/pricing/growth.go
  sdk/go/pricing/growth_test.go
  sdk/go/proto/pulumicost/v1/costsource.pb.go
  sdk/go/proto/pulumicost/v1/enums.pb.go
  sdk/go/testing/forecasting_backward_test.go
  sdk/go/testing/forecasting_test.go
  sdk/go/testing/forecasting_validation_test.go
  specs/030-forecasting-primitives/checklists/requirements.md
  specs/030-forecasting-primitives/contracts/forecasting.proto.md
  specs/030-forecasting-primitives/data-model.md
  specs/030-forecasting-primitives/plan.md
  specs/030-forecasting-primitives/quickstart.md
  specs/030-forecasting-primitives/quickstart_test.go
  specs/030-forecasting-primitives/research.md
  specs/030-forecasting-primitives/spec.md
  specs/030-forecasting-primitives/tasks.md
Due: golangci-lint, markdown-lint

docs(pluginsdk): Add thread safety, rate limiting, CORS, and perf docs
  CLAUDE.md
  proto/pulumicost/v1/costsource.proto
  sdk/go/pluginsdk/README.md
  sdk/go/pluginsdk/client.go
  sdk/go/pluginsdk/example_test.go
  sdk/go/pluginsdk/focus_builder.go
  sdk/go/pluginsdk/focus_conformance.go
  sdk/go/proto/pulumicost/v1/costsource.pb.go
  specs/031-sdk-docs-consolidation/checklists/requirements.md
  specs/031-sdk-docs-consolidation/data-model.md
  specs/031-sdk-docs-consolidation/plan.md
  specs/031-sdk-docs-consolidation/quickstart.md
  specs/031-sdk-docs-consolidation/research.md
  specs/031-sdk-docs-consolidation/spec.md
  specs/031-sdk-docs-consolidation/tasks.md
Due: golangci-lint, markdown-lint

docs(pluginsdk): Add thread safety, rate limiting, CORS, and perf docs (#243)
  CLAUDE.md
  proto/pulumicost/v1/costsource.proto
  sdk/go/pluginsdk/README.md
  sdk/go/pluginsdk/client.go
  sdk/go/pluginsdk/example_test.go
  sdk/go/pluginsdk/focus_builder.go
  sdk/go/pluginsdk/focus_conformance.go
  sdk/go/proto/pulumicost/v1/costsource.pb.go
  specs/031-sdk-docs-consolidation/checklists/requirements.md
  specs/031-sdk-docs-consolidation/data-model.md
  specs/031-sdk-docs-consolidation/plan.md
  specs/031-sdk-docs-consolidation/quickstart.md
  specs/031-sdk-docs-consolidation/research.md
  specs/031-sdk-docs-consolidation/spec.md
  specs/031-sdk-docs-consolidation/tasks.md
Due: golangci-lint, markdown-lint

feat(pluginsdk): Add GetPluginInfo RPC for spec version compatibility
  .coderabbit.yaml
  .npmignore
  CLAUDE.md
  GEMINI.md
  proto/pulumicost/v1/costsource.proto
  sdk/go/internal/semver/semver.go
  sdk/go/internal/semver/semver_test.go
  sdk/go/pluginsdk/README.md
  sdk/go/pluginsdk/plugin_info.go
  sdk/go/pluginsdk/plugin_info_test.go
  sdk/go/pluginsdk/sdk.go
  sdk/go/pluginsdk/sdk_test.go
  sdk/go/pluginsdk/version.go
  sdk/go/pluginsdk/version_test.go
  sdk/go/proto/pulumicost/v1/costsource.pb.go
  sdk/go/proto/pulumicost/v1/costsource_grpc.pb.go
  sdk/go/proto/pulumicost/v1/pbcconnect/costsource.connect.go
  sdk/go/testing/benchmark_test.go
  sdk/go/testing/conformance_test.go
  sdk/go/testing/harness.go
  sdk/go/testing/integration_test.go
  sdk/go/testing/mock_plugin.go
  specs/029-plugin-info-rpc/checklists/requirements.md
  specs/029-plugin-info-rpc/contracts/costsource.proto
  specs/029-plugin-info-rpc/data-model.md
  specs/029-plugin-info-rpc/plan.md
  specs/029-plugin-info-rpc/quickstart.md
  specs/029-plugin-info-rpc/research.md
  specs/029-plugin-info-rpc/spec.md
  specs/029-plugin-info-rpc/tasks.md
Due: golangci-lint, markdown-lint, yaml-lint

feat(pluginsdk): Add GetPluginInfo RPC for spec version compatibility (#242)
  .coderabbit.yaml
  .npmignore
  CLAUDE.md
  GEMINI.md
  proto/pulumicost/v1/costsource.proto
  sdk/go/internal/semver/semver.go
  sdk/go/internal/semver/semver_test.go
  sdk/go/pluginsdk/README.md
  sdk/go/pluginsdk/plugin_info.go
  sdk/go/pluginsdk/plugin_info_test.go
  sdk/go/pluginsdk/sdk.go
  sdk/go/pluginsdk/sdk_test.go
  sdk/go/pluginsdk/version.go
  sdk/go/pluginsdk/version_test.go
  sdk/go/proto/pulumicost/v1/costsource.pb.go
  sdk/go/proto/pulumicost/v1/costsource_grpc.pb.go
  sdk/go/proto/pulumicost/v1/pbcconnect/costsource.connect.go
  sdk/go/testing/benchmark_test.go
  sdk/go/testing/conformance_test.go
  sdk/go/testing/harness.go
  sdk/go/testing/integration_test.go
  sdk/go/testing/mock_plugin.go
  specs/029-plugin-info-rpc/checklists/requirements.md
  specs/029-plugin-info-rpc/contracts/costsource.proto
  specs/029-plugin-info-rpc/data-model.md
  specs/029-plugin-info-rpc/plan.md
  specs/029-plugin-info-rpc/quickstart.md
  specs/029-plugin-info-rpc/research.md
  specs/029-plugin-info-rpc/spec.md
  specs/029-plugin-info-rpc/tasks.md
Due: golangci-lint, markdown-lint, yaml-lint

feat(proto): add growth_type to projected cost response
  proto/pulumicost/v1/costsource.proto
  sdk/go/proto/pulumicost/v1/costsource.pb.go
Due: golangci-lint

feat(proto): add growth_type to projected cost response (#250)
  proto/pulumicost/v1/costsource.proto
  sdk/go/proto/pulumicost/v1/costsource.pb.go
Due: golangci-lint

feat(pluginsdk): Add DryRun for plugin field mapping discovery
  CLAUDE.md
  examples/requests/dry_run/README.md
  examples/requests/dry_run/aws_ec2.json
  examples/requests/dry_run/azure_vm.json
  examples/requests/dry_run/gcp_compute.json
  examples/requests/dry_run/k8s_pod.json
  proto/pulumicost/v1/costsource.proto
  proto/pulumicost/v1/enums.proto
  sdk/go/pluginsdk/README.md
  sdk/go/pluginsdk/dry_run.go
  sdk/go/pluginsdk/dry_run_test.go
  sdk/go/proto/pulumicost/v1/costsource.pb.go
  sdk/go/proto/pulumicost/v1/costsource_grpc.pb.go
  sdk/go/proto/pulumicost/v1/enums.pb.go
  sdk/go/proto/pulumicost/v1/pbcconnect/costsource.connect.go
  sdk/go/testing/benchmark_test.go
  sdk/go/testing/dry_run_conformance_test.go
  sdk/go/testing/mock_plugin.go
  specs/032-plugin-dry-run/checklists/requirements.md
  specs/032-plugin-dry-run/contracts/README.md
  specs/032-plugin-dry-run/contracts/dry_run.proto
  specs/032-plugin-dry-run/data-model.md
  specs/032-plugin-dry-run/plan.md
  specs/032-plugin-dry-run/quickstart.md
  specs/032-plugin-dry-run/research.md
  specs/032-plugin-dry-run/spec.md
  specs/032-plugin-dry-run/tasks.md
Due: golangci-lint, markdown-lint

feat(pluginsdk): Add DryRun for plugin field mapping discovery (#248)
  CLAUDE.md
  examples/requests/dry_run/README.md
  examples/requests/dry_run/aws_ec2.json
  examples/requests/dry_run/azure_vm.json
  examples/requests/dry_run/gcp_compute.json
  examples/requests/dry_run/k8s_pod.json
  proto/pulumicost/v1/costsource.proto
  proto/pulumicost/v1/enums.proto
  sdk/go/pluginsdk/README.md
  sdk/go/pluginsdk/dry_run.go
  sdk/go/pluginsdk/dry_run_test.go
  sdk/go/proto/pulumicost/v1/costsource.pb.go
  sdk/go/proto/pulumicost/v1/costsource_grpc.pb.go
  sdk/go/proto/pulumicost/v1/enums.pb.go
  sdk/go/proto/pulumicost/v1/pbcconnect/costsource.connect.go
  sdk/go/testing/benchmark_test.go
  sdk/go/testing/dry_run_conformance_test.go
  sdk/go/testing/mock_plugin.go
  specs/032-plugin-dry-run/checklists/requirements.md
  specs/032-plugin-dry-run/contracts/README.md
  specs/032-plugin-dry-run/contracts/dry_run.proto
  specs/032-plugin-dry-run/data-model.md
  specs/032-plugin-dry-run/plan.md
  specs/032-plugin-dry-run/quickstart.md
  specs/032-plugin-dry-run/research.md
  specs/032-plugin-dry-run/spec.md
  specs/032-plugin-dry-run/tasks.md
Due: golangci-lint, markdown-lint

test: Adding in SetFieldStatus test
  sdk/go/pluginsdk/dry_run.go
  sdk/go/pluginsdk/dry_run_test.go
Due: golangci-lint

test: Adding in SetFieldStatus test (#253)
  sdk/go/pluginsdk/dry_run.go
  sdk/go/pluginsdk/dry_run_test.go
Due: golangci-lint

docs(roadmap): update Q1 2026 roadmap with completed milestones
  ROADMAP.md
Due: markdown-lint

test(pluginsdk): Add unit tests for DismissRecommendation
  ROADMAP.md
  sdk/go/pluginsdk/dismiss_test.go
Due: golangci-lint, markdown-lint

test(pluginsdk): Add unit tests for DismissRecommendation (#254)
  ROADMAP.md
  sdk/go/pluginsdk/dismiss_test.go
Due: golangci-lint, markdown-lint

feat(sdk): add jsonld serialization package for focus cost data
  .claude/agents/golang-code-reviewer.md
  CLAUDE.md
  examples/jsonld/README.md
  examples/jsonld/batch_output.jsonld
  examples/jsonld/contract_commitment.jsonld
  examples/jsonld/focus_cost_record.jsonld
  package-lock.json
  sdk/go/jsonld/README.md
  sdk/go/jsonld/context.go
  sdk/go/jsonld/context_test.go
  sdk/go/jsonld/doc.go
  sdk/go/jsonld/id_generator.go
  sdk/go/jsonld/id_generator_test.go
  sdk/go/jsonld/schema_org.go
  sdk/go/jsonld/schema_org_test.go
  sdk/go/jsonld/serializer.go
  sdk/go/jsonld/serializer_benchmark_test.go
  sdk/go/jsonld/serializer_test.go
  sdk/go/jsonld/streaming.go
  sdk/go/jsonld/streaming_test.go
  sdk/go/jsonld/vocabulary.go
  specs/032-jsonld-serialization/checklists/requirements.md
  specs/032-jsonld-serialization/contracts/README.md
  specs/032-jsonld-serialization/contracts/focus-context.jsonld
  specs/032-jsonld-serialization/data-model.md
  specs/032-jsonld-serialization/plan.md
  specs/032-jsonld-serialization/quickstart.md
  specs/032-jsonld-serialization/research.md
  specs/032-jsonld-serialization/spec.md
  specs/032-jsonld-serialization/tasks.md
Due: golangci-lint, markdown-lint

feat(sdk): add jsonld serialization package for focus cost data (#252)
  .claude/agents/golang-code-reviewer.md
  CLAUDE.md
  examples/jsonld/README.md
  examples/jsonld/batch_output.jsonld
  examples/jsonld/contract_commitment.jsonld
  examples/jsonld/focus_cost_record.jsonld
  package-lock.json
  sdk/go/jsonld/README.md
  sdk/go/jsonld/context.go
  sdk/go/jsonld/context_test.go
  sdk/go/jsonld/doc.go
  sdk/go/jsonld/id_generator.go
  sdk/go/jsonld/id_generator_test.go
  sdk/go/jsonld/schema_org.go
  sdk/go/jsonld/schema_org_test.go
  sdk/go/jsonld/serializer.go
  sdk/go/jsonld/serializer_benchmark_test.go
  sdk/go/jsonld/serializer_test.go
  sdk/go/jsonld/streaming.go
  sdk/go/jsonld/streaming_test.go
  sdk/go/jsonld/vocabulary.go
  specs/032-jsonld-serialization/checklists/requirements.md
  specs/032-jsonld-serialization/contracts/README.md
  specs/032-jsonld-serialization/contracts/focus-context.jsonld
  specs/032-jsonld-serialization/data-model.md
  specs/032-jsonld-serialization/plan.md
  specs/032-jsonld-serialization/quickstart.md
  specs/032-jsonld-serialization/research.md
  specs/032-jsonld-serialization/spec.md
  specs/032-jsonld-serialization/tasks.md
Due: golangci-lint, markdown-lint

feat(pluginsdk): Add CORS headers, max-age, and security headers
  CLAUDE.md
  ROADMAP.md
  sdk/go/jsonld/serializer.go
  sdk/go/pluginsdk/README.md
  sdk/go/pluginsdk/connect_test.go
  sdk/go/pluginsdk/health.go
  sdk/go/pluginsdk/options.go
  sdk/go/pluginsdk/options_test.go
  sdk/go/pluginsdk/plugin_info.go
  sdk/go/pluginsdk/sdk.go
  specs/033-cors-headers-config/checklists/requirements.md
  specs/033-cors-headers-config/data-model.md
  specs/033-cors-headers-config/plan.md
  specs/033-cors-headers-config/quickstart.md
  specs/033-cors-headers-config/research.md
  specs/033-cors-headers-config/spec.md
  specs/033-cors-headers-config/tasks.md
Due: golangci-lint, markdown-lint

feat(pluginsdk): Add CORS headers, max-age, and security headers (#256)
  CLAUDE.md
  ROADMAP.md
  sdk/go/jsonld/serializer.go
  sdk/go/pluginsdk/README.md
  sdk/go/pluginsdk/connect_test.go
  sdk/go/pluginsdk/health.go
  sdk/go/pluginsdk/options.go
  sdk/go/pluginsdk/options_test.go
  sdk/go/pluginsdk/plugin_info.go
  sdk/go/pluginsdk/sdk.go
  specs/033-cors-headers-config/checklists/requirements.md
  specs/033-cors-headers-config/data-model.md
  specs/033-cors-headers-config/plan.md
  specs/033-cors-headers-config/quickstart.md
  specs/033-cors-headers-config/research.md
  specs/033-cors-headers-config/spec.md
  specs/033-cors-headers-config/tasks.md
Due: golangci-lint, markdown-lint

feat(pluginsdk): implement sdk polish features and hardening
  .github/workflows/benchmarks.yml
  .gitignore
  AGENTS.md
  sdk/go/pluginsdk/README.md
  sdk/go/pluginsdk/arn.go
  sdk/go/pluginsdk/arn_test.go
  sdk/go/pluginsdk/client.go
  sdk/go/pluginsdk/connect_test.go
  sdk/go/pluginsdk/context.go
  sdk/go/pluginsdk/context_test.go
  sdk/go/pluginsdk/focus_conformance.go
  sdk/go/pluginsdk/focus_conformance_test.go
  sdk/go/pluginsdk/health.go
  sdk/go/pluginsdk/health_test.go
  sdk/go/pluginsdk/helpers_test.go
  sdk/go/pluginsdk/sdk.go
  sdk/go/pluginsdk/sdk_test.go
  specs/001-sdk-polish-release/checklists/requirements.md
  specs/001-sdk-polish-release/contracts/README.md
  specs/001-sdk-polish-release/data-model.md
  specs/001-sdk-polish-release/plan.md
  specs/001-sdk-polish-release/quickstart.md
  specs/001-sdk-polish-release/research.md
  specs/001-sdk-polish-release/spec.md
  specs/001-sdk-polish-release/tasks.md
Due: golangci-lint, markdown-lint, yaml-lint

docs: amend constitution to v1.2.0 (documentation currency enforcement)
  .specify/memory/constitution.md
Due: markdown-lint

fix: fixing linting issues
  .specify/memory/constitution.md
  sdk/go/pluginsdk/arn.go
  sdk/go/pluginsdk/arn_test.go
  sdk/go/pluginsdk/client.go
  sdk/go/pluginsdk/connect.go
  sdk/go/pluginsdk/context.go
  sdk/go/pluginsdk/context_test.go
  sdk/go/pluginsdk/focus_conformance.go
  sdk/go/pluginsdk/health.go
  sdk/go/pluginsdk/sdk.go
  specs/001-sdk-polish-release/contracts/README.md
  specs/001-sdk-polish-release/data-model.md
  specs/001-sdk-polish-release/plan.md
  specs/001-sdk-polish-release/quickstart.md
  specs/001-sdk-polish-release/research.md
  specs/001-sdk-polish-release/spec.md
  specs/001-sdk-polish-release/tasks.md
Due: golangci-lint, markdown-lint

feat(pluginsdk): implement sdk polish features and hardening (#259)
  .github/workflows/benchmarks.yml
  .gitignore
  .specify/memory/constitution.md
  AGENTS.md
  sdk/go/pluginsdk/README.md
  sdk/go/pluginsdk/arn.go
  sdk/go/pluginsdk/arn_test.go
  sdk/go/pluginsdk/client.go
  sdk/go/pluginsdk/connect.go
  sdk/go/pluginsdk/connect_test.go
  sdk/go/pluginsdk/context.go
  sdk/go/pluginsdk/context_test.go
  sdk/go/pluginsdk/focus_conformance.go
  sdk/go/pluginsdk/focus_conformance_test.go
  sdk/go/pluginsdk/health.go
  sdk/go/pluginsdk/health_test.go
  sdk/go/pluginsdk/helpers_test.go
  sdk/go/pluginsdk/sdk.go
  sdk/go/pluginsdk/sdk_test.go
  specs/001-sdk-polish-release/checklists/requirements.md
  specs/001-sdk-polish-release/contracts/README.md
  specs/001-sdk-polish-release/data-model.md
  specs/001-sdk-polish-release/plan.md
  specs/001-sdk-polish-release/quickstart.md
  specs/001-sdk-polish-release/research.md
  specs/001-sdk-polish-release/spec.md
  specs/001-sdk-polish-release/tasks.md
Due: golangci-lint, markdown-lint, yaml-lint

fix(pluginsdk): use zerolog in health handler
  sdk/go/pluginsdk/health.go
Due: golangci-lint
