Repository rshade/pulumicost-spec: changes, and which lefthook commands are due for each by the changed paths.
All: golangci-lint, markdown-lint, yaml-lint

lefthook.yml:

# Lefthook configuration for pulumicost-spec
# https://github.com/evilmartians/lefthook
#
# Install hooks: make install-lefthook
# Skip hooks temporarily: git commit --no-verify

# Parallel execution for performance
parallel: true

# Skip on merge/rebase commits
skip_merge: true

commit-msg:
  commands:
    commitlint:
      run: npx commitlint --edit {1}
      fail_text: |
        ‚ùå Commit message validation failed

        Your commit message must follow Conventional Commits format:
        <type>[optional scope]: <description>

        Valid types: feat, fix, docs, style, refactor, perf, test, chore, ci, build, revert

        Valid scopes: proto, schema, sdk, testing, pricing, registry, currency, pluginsdk,
                      examples, ci, deps, docs

        Examples:
          feat: add support for hourly billing mode
          fix(schema): correct currency enum validation
          docs: update plugin registry examples

        See: https://www.conventionalcommits.org

pre-commit:
  parallel: true
  commands:
    golangci-lint:
      glob: "*.go"
      run: PATH=~/go/bin:$PATH golangci-lint run --new-from-rev=HEAD~1
      skip:
        - merge
        - rebase

    markdown-lint:
      glob: "*.md"
      run: npm run lint:markdown
      skip:
        - merge
        - rebase

    yaml-lint:
      glob: "*.{yml,yaml}"
      run: yamllint .github/
      skip:
        - merge
        - rebase

pre-push:
  commands:
    tests:
      run: make test
      skip:
        - merge
        - rebase

add Go Benchmark (go) benchmark result for 87d44289a5a63b25d8baeccb11f7eb9f56ba3128
  dev/bench/data.js
Due: none

add Go Benchmark (go) benchmark result for 3aa57af3d61845760f765a06c6a98f1135985a70
  dev/bench/data.js
Due: none

feat(pluginsdk): add request validation helpers
  GEMINI.md
  sdk/go/pluginsdk/validation.go
  sdk/go/pluginsdk/validation_test.go
  specs/017-pluginsdk-validation/data-model.md
  specs/017-pluginsdk-validation/plan.md
  specs/017-pluginsdk-validation/quickstart.md
  specs/017-pluginsdk-validation/research.md
Due: golangci-lint, markdown-lint

feat(pluginsdk): add request validation helpers
  GEMINI.md
  docs/PROPERTY_MAPPING.md
  pulumicost-spec-focus.md
  sdk/go/pluginsdk/validation.go
  sdk/go/pluginsdk/validation_test.go
  sdk/go/testing/contract.go
  sdk/go/testing/contract_test.go
  specs/017-pluginsdk-validation/checklists/requirements.md
  specs/017-pluginsdk-validation/contracts/api.go.txt
  specs/017-pluginsdk-validation/data-model.md
  specs/017-pluginsdk-validation/plan.md
  specs/017-pluginsdk-validation/quickstart.md
  specs/017-pluginsdk-validation/research.md
  specs/017-pluginsdk-validation/spec.md
  specs/017-pluginsdk-validation/tasks.md
Due: golangci-lint, markdown-lint

feat(pluginsdk): add request validation helpers (#151)
  GEMINI.md
  docs/PROPERTY_MAPPING.md
  pulumicost-spec-focus.md
  sdk/go/pluginsdk/validation.go
  sdk/go/pluginsdk/validation_test.go
  sdk/go/testing/contract.go
  sdk/go/testing/contract_test.go
  specs/017-pluginsdk-validation/checklists/requirements.md
  specs/017-pluginsdk-validation/contracts/api.go.txt
  specs/017-pluginsdk-validation/data-model.md
  specs/017-pluginsdk-validation/plan.md
  specs/017-pluginsdk-validation/quickstart.md
  specs/017-pluginsdk-validation/research.md
  specs/017-pluginsdk-validation/spec.md
  specs/017-pluginsdk-validation/tasks.md
Due: golangci-lint, markdown-lint

add Go Benchmark (go) benchmark result for ef71ba6018169b630f3068deab45b97bd1e3522c
  dev/bench/data.js
Due: none

add Go Benchmark (go) benchmark result for 0990a2beb8b5b228b9af68e72a81483e8c3fdf71
  dev/bench/data.js
Due: none

add Go Benchmark (go) benchmark result for 20e00d734830970c7b43fe3738275a20ff8b7bfe
  dev/bench/data.js
Due: none

add Go Benchmark (go) benchmark result for 9e6090162fa23d83d28b858ea48c08b0d701c907
  dev/bench/data.js
Due: none

fix: updating small bugs in spec
  commitlint.config.js
  sdk/go/pluginsdk/validation.go
  sdk/go/pluginsdk/validation_test.go
  specs/017-pluginsdk-validation/spec.md
Due: golangci-lint, markdown-lint

fix: updating small bugs in spec (#156)
  commitlint.config.js
  sdk/go/pluginsdk/validation.go
  sdk/go/pluginsdk/validation_test.go
  specs/017-pluginsdk-validation/spec.md
Due: golangci-lint, markdown-lint

add Go Benchmark (go) benchmark result for 83df05f11ec2690c9b4e594128a9ba4022c20c8b
  dev/bench/data.js
Due: none

add Go Benchmark (go) benchmark result for 924b0ec602f913322149998b7e0febf5eb4448ed
  dev/bench/data.js
Due: none

feat(proto): add arn field to actual cost request
  GEMINI.md
  PLUGIN_DEVELOPER_GUIDE.md
  proto/pulumicost/v1/costsource.proto
  sdk/go/proto/pulumicost/v1/budget.pb.go
  sdk/go/proto/pulumicost/v1/costsource.pb.go
  sdk/go/proto/pulumicost/v1/enums.pb.go
  sdk/go/proto/pulumicost/v1/focus.pb.go
  sdk/go/proto/pulumicost/v1/registry.pb.go
  sdk/go/testing/arn_test.go
  specs/018-proto-add-arn/checklists/requirements.md
  specs/018-proto-add-arn/contracts/costsource.proto
  specs/018-proto-add-arn/data-model.md
  specs/018-proto-add-arn/plan.md
  specs/018-proto-add-arn/quickstart.md
  specs/018-proto-add-arn/research.md
  specs/018-proto-add-arn/spec.md
  specs/018-proto-add-arn/tasks.md
Due: golangci-lint, markdown-lint

feat(proto): add arn field to actual cost request (#160)
  GEMINI.md
  PLUGIN_DEVELOPER_GUIDE.md
  proto/pulumicost/v1/costsource.proto
  sdk/go/proto/pulumicost/v1/budget.pb.go
  sdk/go/proto/pulumicost/v1/costsource.pb.go
  sdk/go/proto/pulumicost/v1/enums.pb.go
  sdk/go/proto/pulumicost/v1/focus.pb.go
  sdk/go/proto/pulumicost/v1/registry.pb.go
  sdk/go/testing/arn_test.go
  specs/018-proto-add-arn/checklists/requirements.md
  specs/018-proto-add-arn/contracts/costsource.proto
  specs/018-proto-add-arn/data-model.md
  specs/018-proto-add-arn/plan.md
  specs/018-proto-add-arn/quickstart.md
  specs/018-proto-add-arn/research.md
  specs/018-proto-add-arn/spec.md
  specs/018-proto-add-arn/tasks.md
Due: golangci-lint, markdown-lint

add Go Benchmark (go) benchmark result for a75b42b355395f590b7d211475de05f5083bd82b
  dev/bench/data.js
Due: none

add Go Benchmark (go) benchmark result for 461d37eb37cb43a3c374f4672c9f720c3fe7112f
  dev/bench/data.js
Due: none

add Go Benchmark (go) benchmark result for c9a25e4e95ae3f270bf9d8a6b3338ecf5433b763
  dev/bench/data.js
Due: none

add Go Benchmark (go) benchmark result for 286e7ba589af94c38d406a6814e6080daa3ffe54
  dev/bench/data.js
Due: none

add Go Benchmark (go) benchmark result for 7d31ccb693ec9d17e9a68f4d157d5eb487f90af6
  dev/bench/data.js
Due: none

docs: updating the documentation for the latest changes
  .claude/agents/CLAUDE.md
  .markdownlint-cli2.jsonc
  .markdownlintignore
  PLUGIN_DEVELOPER_GUIDE.md
  README.md
  docs/README.md
  schemas/CLAUDE.md
Due: markdown-lint

add Go Benchmark (go) benchmark result for 2589c1aff4e06f576d2617ed4b38d7222cca60a4
  dev/bench/data.js
Due: none

docs: updating the documentation for the latest changes
  README.md
Due: markdown-lint

docs: updating the documentation for the latest changes (#164)
  README.md
Due: markdown-lint

add Go Benchmark (go) benchmark result for b54b806b27e554fdd384f23a93ca328128eb5b3e
  dev/bench/data.js
Due: none

feat(proto): add comprehensive filter and dismissal to recommendations
  PLUGIN_DEVELOPER_GUIDE.md
  proto/pulumicost/v1/costsource.proto
  sdk/go/pluginsdk/helpers.go
  sdk/go/proto/pulumicost/v1/costsource.pb.go
  sdk/go/proto/pulumicost/v1/costsource_grpc.pb.go
  sdk/go/testing/README.md
  specs/013-recommendations-rpc/data-model.md
Due: golangci-lint, markdown-lint

feat(proto): add comprehensive filter and dismissal to recommendations (#166)
  PLUGIN_DEVELOPER_GUIDE.md
  proto/pulumicost/v1/costsource.proto
  sdk/go/pluginsdk/helpers.go
  sdk/go/proto/pulumicost/v1/costsource.pb.go
  sdk/go/proto/pulumicost/v1/costsource_grpc.pb.go
  sdk/go/testing/README.md
  specs/013-recommendations-rpc/data-model.md
Due: golangci-lint, markdown-lint

add Go Benchmark (go) benchmark result for 71240b852b590dee01c8063f613ef5dc4ece62e9
  dev/bench/data.js
Due: none

add Go Benchmark (go) benchmark result for b333417d8edb643c0d86280a3b5bc1ebe88f476b
  dev/bench/data.js
Due: none

fix(sdk): correct strict weak ordering violation in sort recommendations
  sdk/go/pluginsdk/helpers.go
  sdk/go/pluginsdk/helpers_test.go
Due: golangci-lint

fix(sdk): correct strict weak ordering violation in sort recommendations (#168)
  sdk/go/pluginsdk/helpers.go
  sdk/go/pluginsdk/helpers_test.go
Due: golangci-lint

add Go Benchmark (go) benchmark result for 0860d3841b5adb69871f99debe1454bf662820e6
  dev/bench/data.js
Due: none

feat(proto): add target_resources for resource-scoped recs
  .gemini/commands/code-review.toml
  CLAUDE.md
  proto/pulumicost/v1/costsource.proto
  sdk/go/proto/pulumicost/v1/costsource.pb.go
  sdk/go/testing/README.md
  sdk/go/testing/contract.go
  sdk/go/testing/contract_test.go
  sdk/go/testing/integration_test.go
  sdk/go/testing/mock_plugin.go
  specs/019-target-resources/checklists/requirements.md
  specs/019-target-resources/contracts/proto-changes.md
  specs/019-target-resources/data-model.md
  specs/019-target-resources/plan.md
  specs/019-target-resources/quickstart.md
  specs/019-target-resources/research.md
  specs/019-target-resources/spec.md
  specs/019-target-resources/tasks.md
Due: golangci-lint, markdown-lint

feat(proto): add target_resources for resource-scoped recs (#171)
  .gemini/commands/code-review.toml
  CLAUDE.md
  proto/pulumicost/v1/costsource.proto
  sdk/go/proto/pulumicost/v1/costsource.pb.go
  sdk/go/testing/README.md
  sdk/go/testing/contract.go
  sdk/go/testing/contract_test.go
  sdk/go/testing/integration_test.go
  sdk/go/testing/mock_plugin.go
  specs/019-target-resources/checklists/requirements.md
  specs/019-target-resources/contracts/proto-changes.md
  specs/019-target-resources/data-model.md
  specs/019-target-resources/plan.md
  specs/019-target-resources/quickstart.md
  specs/019-target-resources/research.md
  specs/019-target-resources/spec.md
  specs/019-target-resources/tasks.md
Due: golangci-lint, markdown-lint

add Go Benchmark (go) benchmark result for 4526eb70d93b9e7e05e6d06519c75bd44a80da00
  dev/bench/data.js
Due: none

fix: fixing test issues and mockplugin
  sdk/go/testing/benchmark_test.go
  sdk/go/testing/integration_test.go
  sdk/go/testing/mock_plugin.go
Due: golangci-lint

fix: fixing test issues and mockplugin (#172)
  sdk/go/testing/benchmark_test.go
  sdk/go/testing/integration_test.go
  sdk/go/testing/mock_plugin.go
Due: golangci-lint

add Go Benchmark (go) benchmark result for fa0b641e23df8e80652a88a8e1fea513a8e16de8
  dev/bench/data.js
Due: none

feat(proto): extend recommendation action types for cost optimization
  CLAUDE.md
  PLUGIN_DEVELOPER_GUIDE.md
  examples/recommendations/consolidate_nodes.json
  examples/recommendations/migrate_region.json
  examples/recommendations/other_provider_specific.json
  examples/recommendations/refactor_serverless.json
  examples/recommendations/schedule_dev_env.json
  proto/pulumicost/v1/costsource.proto
  sdk/go/proto/pulumicost/v1/action_types.go
  sdk/go/proto/pulumicost/v1/action_types_test.go
  sdk/go/proto/pulumicost/v1/costsource.pb.go
  sdk/go/testing/action_type_test.go
  sdk/go/testing/backward_compat_test.go
  sdk/go/testing/filter_test.go
  sdk/go/testing/mock_plugin.go
  sdk/go/testing/summary_test.go
  specs/019-recommendation-action-types/checklists/requirements.md
  specs/019-recommendation-action-types/contracts/recommendation_action_type.proto
  specs/019-recommendation-action-types/data-model.md
  specs/019-recommendation-action-types/plan.md
  specs/019-recommendation-action-types/quickstart.md
  specs/019-recommendation-action-types/research.md
  specs/019-recommendation-action-types/spec.md
  specs/019-recommendation-action-types/tasks.md
Due: golangci-lint, markdown-lint

feat(proto): extend recommendation action types for cost optimization (#173)
  CLAUDE.md
  PLUGIN_DEVELOPER_GUIDE.md
  examples/recommendations/consolidate_nodes.json
  examples/recommendations/migrate_region.json
  examples/recommendations/other_provider_specific.json
  examples/recommendations/refactor_serverless.json
  examples/recommendations/schedule_dev_env.json
  proto/pulumicost/v1/costsource.proto
  sdk/go/proto/pulumicost/v1/action_types.go
  sdk/go/proto/pulumicost/v1/action_types_test.go
  sdk/go/proto/pulumicost/v1/costsource.pb.go
  sdk/go/testing/action_type_test.go
  sdk/go/testing/backward_compat_test.go
  sdk/go/testing/filter_test.go
  sdk/go/testing/mock_plugin.go
  sdk/go/testing/summary_test.go
  specs/019-recommendation-action-types/checklists/requirements.md
  specs/019-recommendation-action-types/contracts/recommendation_action_type.proto
  specs/019-recommendation-action-types/data-model.md
  specs/019-recommendation-action-types/plan.md
  specs/019-recommendation-action-types/quickstart.md
  specs/019-recommendation-action-types/research.md
  specs/019-recommendation-action-types/spec.md
  specs/019-recommendation-action-types/tasks.md
Due: golangci-lint, markdown-lint
