Repository rshade/pulumicost-spec: changes, and which lefthook commands are due for each by the changed paths.
All: golangci-lint, markdown-lint, yaml-lint

golangci-lint:
  run: PATH=~/go/bin:$PATH golangci-lint run --new-from-rev=HEAD~1
  skip:
  - merge
  - rebase

markdown-lint:
  run: npm run lint:markdown
  skip:
  - merge
  - rebase

yaml-lint:
  run: yamllint .github/
  skip:
  - merge
  - rebase

Merge conflict resolution: Keep HEAD version with completed tasks
  .github/workflows/publish-ts-client.yml
  .github/workflows/release-please.yml
  PR_MESSAGE.md
  sdk/typescript/packages/client/CHANGELOG.md
  specs/039-ts-publishing-infra/tasks.md
Due: markdown-lint, yaml-lint

fix: update release workflow for typescript package (#317)
  .github/workflows/publish-ts-client.yml
  .github/workflows/release-please.yml
  PR_MESSAGE.md
  sdk/typescript/packages/client/CHANGELOG.md
  specs/039-ts-publishing-infra/checklists/requirements.md
  specs/039-ts-publishing-infra/plan.md
  specs/039-ts-publishing-infra/tasks.md
Due: markdown-lint, yaml-lint

chore(sdk): Exclude TypeScript SDK changelog from markdown linting
  .github/workflows/claude-code-review.yml
  .markdownlint-cli2.jsonc
  .markdownlintignore
  ROADMAP.md
Due: markdown-lint, yaml-lint

chore(sdk): Exclude TypeScript SDK changelog from markdown linting (#328)
  .github/workflows/claude-code-review.yml
  .markdownlint-cli2.jsonc
  .markdownlintignore
  ROADMAP.md
Due: markdown-lint, yaml-lint

chore(sdk): Exclude TypeScript SDK changelog from markdown linting
  CLAUDE.md
  proto/finfocus/v1/costsource.proto
  sdk/go/proto/finfocus/v1/costsource.pb.go
  sdk/go/testing/action_type_test.go
  sdk/go/testing/anomaly_conformance_test.go
  sdk/go/testing/mock_plugin.go
  sdk/typescript/packages/client/src/generated/finfocus/v1/costsource_pb.ts
  specs/040-anomaly-detection-recommendations/checklists/requirements.md
  specs/040-anomaly-detection-recommendations/contracts/proto-changes.md
  specs/040-anomaly-detection-recommendations/data-model.md
  specs/040-anomaly-detection-recommendations/plan.md
  specs/040-anomaly-detection-recommendations/quickstart.md
  specs/040-anomaly-detection-recommendations/research.md
  specs/040-anomaly-detection-recommendations/spec.md
  specs/040-anomaly-detection-recommendations/tasks.md
Due: golangci-lint, markdown-lint

feat(proto): add anomaly category and investigate action
  CLAUDE.md
  proto/finfocus/v1/costsource.proto
  sdk/go/proto/finfocus/v1/costsource.pb.go
  sdk/go/testing/action_type_test.go
  sdk/go/testing/anomaly_conformance_test.go
  sdk/go/testing/mock_plugin.go
  sdk/typescript/packages/client/src/generated/finfocus/v1/costsource_pb.ts
  specs/040-anomaly-detection-recommendations/checklists/requirements.md
  specs/040-anomaly-detection-recommendations/contracts/proto-changes.md
  specs/040-anomaly-detection-recommendations/data-model.md
  specs/040-anomaly-detection-recommendations/plan.md
  specs/040-anomaly-detection-recommendations/quickstart.md
  specs/040-anomaly-detection-recommendations/research.md
  specs/040-anomaly-detection-recommendations/spec.md
  specs/040-anomaly-detection-recommendations/tasks.md
Due: golangci-lint, markdown-lint

feat(proto): add anomaly category and investigate action (#332)
  CLAUDE.md
  proto/finfocus/v1/costsource.proto
  sdk/go/proto/finfocus/v1/costsource.pb.go
  sdk/go/testing/action_type_test.go
  sdk/go/testing/anomaly_conformance_test.go
  sdk/go/testing/mock_plugin.go
  sdk/typescript/packages/client/src/generated/finfocus/v1/costsource_pb.ts
  specs/040-anomaly-detection-recommendations/checklists/requirements.md
  specs/040-anomaly-detection-recommendations/contracts/proto-changes.md
  specs/040-anomaly-detection-recommendations/data-model.md
  specs/040-anomaly-detection-recommendations/plan.md
  specs/040-anomaly-detection-recommendations/quickstart.md
  specs/040-anomaly-detection-recommendations/research.md
  specs/040-anomaly-detection-recommendations/spec.md
  specs/040-anomaly-detection-recommendations/tasks.md
Due: golangci-lint, markdown-lint

docs: adding initial typescript sdk readme
  sdk/typescript/README.md
Due: markdown-lint

docs: adding initial typescript sdk readme (#333)
  sdk/typescript/README.md
Due: markdown-lint

chore: release main
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
  sdk/go/pluginsdk/version.go
  sdk/typescript/packages/client/CHANGELOG.md
  sdk/typescript/packages/client/package.json
Due: golangci-lint, markdown-lint

chore: release main (#318)
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
  sdk/go/pluginsdk/version.go
  sdk/typescript/packages/client/CHANGELOG.md
  sdk/typescript/packages/client/package.json
Due: golangci-lint, markdown-lint

feat(pricing): add validation bypass metadata for audit trails
  CLAUDE.md
  release-please-config.json
  sdk/go/pricing/CLAUDE.md
  sdk/go/pricing/bypass.go
  sdk/go/pricing/bypass_test.go
  sdk/go/pricing/observability.go
  sdk/go/testing/bypass_conformance_test.go
  specs/034-validation-bypass-metadata/checklists/requirements.md
  specs/034-validation-bypass-metadata/data-model.md
  specs/034-validation-bypass-metadata/plan.md
  specs/034-validation-bypass-metadata/quickstart.md
  specs/034-validation-bypass-metadata/research.md
  specs/034-validation-bypass-metadata/spec.md
  specs/034-validation-bypass-metadata/tasks.md
Due: golangci-lint, markdown-lint

feat(pricing): add validation bypass metadata for audit trails (#338)
  CLAUDE.md
  release-please-config.json
  sdk/go/pricing/CLAUDE.md
  sdk/go/pricing/bypass.go
  sdk/go/pricing/bypass_test.go
  sdk/go/pricing/observability.go
  sdk/go/testing/bypass_conformance_test.go
  specs/034-validation-bypass-metadata/checklists/requirements.md
  specs/034-validation-bypass-metadata/data-model.md
  specs/034-validation-bypass-metadata/plan.md
  specs/034-validation-bypass-metadata/quickstart.md
  specs/034-validation-bypass-metadata/research.md
  specs/034-validation-bypass-metadata/spec.md
  specs/034-validation-bypass-metadata/tasks.md
Due: golangci-lint, markdown-lint

feat(pricing): add validation bypass metadata for audit trails
  sdk/go/pricing/bypass.go
Due: golangci-lint

feat(sdk): implement github issues audit plan for #247-340
  proto/finfocus/v1/costsource.proto
  sdk/go/internal/semver/semver.go
  sdk/go/internal/semver/semver_test.go
  sdk/go/jsonld/serializer.go
  sdk/go/jsonld/serializer_benchmark_test.go
  sdk/go/jsonld/streaming.go
  sdk/go/jsonld/streaming_test.go
  sdk/go/pluginsdk/capability_compat.go
  sdk/go/pluginsdk/conformance_test.go
  sdk/go/pluginsdk/context_test.go
  sdk/go/pluginsdk/focus_conformance_benchmark_test.go
  sdk/go/pluginsdk/helpers.go
  sdk/go/pluginsdk/helpers_test.go
  sdk/go/pluginsdk/logging.go
  sdk/go/pluginsdk/logging_test.go
  sdk/go/pluginsdk/plugin_info_benchmark_test.go
  sdk/go/pluginsdk/validation.go
  sdk/go/pluginsdk/validation_pricing_test.go
  sdk/go/proto/finfocus/v1/costsource.pb.go
  sdk/typescript/packages/client/src/generated/finfocus/v1/costsource_pb.ts
Due: golangci-lint

feat(sdk): implement github issues audit plan for #247-340 (#341)
  proto/finfocus/v1/costsource.proto
  sdk/go/internal/semver/semver.go
  sdk/go/internal/semver/semver_test.go
  sdk/go/jsonld/serializer.go
  sdk/go/jsonld/serializer_benchmark_test.go
  sdk/go/jsonld/streaming.go
  sdk/go/jsonld/streaming_test.go
  sdk/go/pluginsdk/capability_compat.go
  sdk/go/pluginsdk/conformance_test.go
  sdk/go/pluginsdk/context_test.go
  sdk/go/pluginsdk/focus_conformance_benchmark_test.go
  sdk/go/pluginsdk/helpers.go
  sdk/go/pluginsdk/helpers_test.go
  sdk/go/pluginsdk/logging.go
  sdk/go/pluginsdk/logging_test.go
  sdk/go/pluginsdk/plugin_info_benchmark_test.go
  sdk/go/pluginsdk/validation.go
  sdk/go/pluginsdk/validation_pricing_test.go
  sdk/go/pricing/bypass.go
  sdk/go/proto/finfocus/v1/costsource.pb.go
  sdk/typescript/packages/client/src/generated/finfocus/v1/costsource_pb.ts
Due: golangci-lint

Path conditions:
  golangci-lint: any of: *.go
  markdown-lint: any of: *.md
  yaml-lint: any of: *.{yml,yaml}
